Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Create test_defmo.py
  test/feature/test_defmo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update feature.rst
  docs/source/feature.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update references.bib
  docs/source/references.bib
Owners: @edgarriba, @shijianjian, @ducha-aiki

Add files via upload
  examples/defmo_example.py
  examples/imgs/bgr.png
  examples/imgs/falling_pen.avi
  examples/imgs/im.png
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

improve typing docs in kornia losses
  kornia/losses/depth_smooth.py
  kornia/losses/dice.py
  kornia/losses/divergence.py
  kornia/losses/focal.py
  kornia/losses/psnr.py
  kornia/losses/ssim.py
  kornia/losses/total_variation.py
  kornia/losses/tversky.py
Owners: @edgarriba, @ducha-aiki

improve typing docs in kornia geometry camera
  kornia/geometry/calibration/undistort.py
  kornia/geometry/camera/perspective.py
  kornia/geometry/camera/pinhole.py
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

improve typing docs in kornia geometry calib, epipolar subpix ...
  docs/source/geometry.subpix.rst
  kornia/geometry/camera/pinhole.py
  kornia/geometry/conversions.py
  kornia/geometry/depth.py
  kornia/geometry/epipolar/essential.py
  kornia/geometry/epipolar/fundamental.py
  kornia/geometry/epipolar/metrics.py
  kornia/geometry/epipolar/numeric.py
  kornia/geometry/epipolar/projection.py
  kornia/geometry/epipolar/triangulation.py
  kornia/geometry/homography.py
  kornia/geometry/linalg.py
  kornia/geometry/subpix/dsnt.py
  kornia/geometry/subpix/spatial_soft_argmax.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

typing fixes
  kornia/filters/canny.py
  kornia/geometry/camera/pinhole.py
  kornia/utils/grid.py
Owners: @edgarriba, @ducha-aiki, @lferraz, @shijianjian

improve typing docs in kornia feature
  docs/source/feature.rst
  kornia/feature/affine_shape.py
  kornia/feature/hardnet.py
  kornia/feature/laf.py
  kornia/feature/matching.py
  kornia/feature/mkd.py
  kornia/feature/orientation.py
  kornia/feature/responses.py
  kornia/feature/scale_space_detector.py
  kornia/feature/siftdesc.py
  kornia/feature/sosnet.py
  kornia/feature/tfeat.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

improve typing docs in kornia augmentation
  kornia/augmentation/augmentation3d.py
  kornia/augmentation/base.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
Owners: @shijianjian, @anguelos

Moving bbox-related functionality to bbox module (#1103)
  docs/source/geometry.bbox.rst
  docs/source/geometry.rst
  docs/source/governance.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/geometry/__init__.py
  kornia/geometry/bbox.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  test/augmentation/test_container.py
  test/geometry/test_bbox.py
  test/geometry/transform/crop/test_crop2d.py
  test/geometry/transform/crop/test_crop3d.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

Moving bbox-related functionality to bbox module (#1103)
  docs/source/geometry.bbox.rst
  docs/source/geometry.rst
  docs/source/governance.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/geometry/__init__.py
  kornia/geometry/bbox.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  test/augmentation/test_container.py
  test/geometry/test_bbox.py
  test/geometry/transform/crop/test_crop2d.py
  test/geometry/transform/crop/test_crop3d.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

improving bbox module docs
  docs/source/geometry.bbox.rst
  docs/source/geometry.transform.rst
  kornia/geometry/bbox.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

improving bbox module docs (#1138)
  docs/source/geometry.bbox.rst
  docs/source/geometry.transform.rst
  kornia/geometry/bbox.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

improving bbox module docs (#1138)
  docs/source/geometry.bbox.rst
  docs/source/geometry.transform.rst
  kornia/geometry/bbox.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
