Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

Added augmentation sequential
  kornia/augmentation/container/augmentation_seqential.py
  kornia/augmentation/container/sequential.py
  kornia/augmentation/container/video.py
Owners: @shijianjian, @anguelos

Updated docs and tests
  docs/source/augmentation.container.rst
  kornia/augmentation/__init__.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augmentation_seqential.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

Added test for inverse
  test/augmentation/test_container.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

bug fix for inverse
  kornia/augmentation/container/augmentation_seqential.py
Owners: @shijianjian, @anguelos

Fix tests & remove asserts
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/augmentation.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augmentation_sequential.py
  kornia/geometry/linalg.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Refined enum logic
  kornia/augmentation/container/augmentation_sequential.py
  kornia/constants.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Fixed tests
  kornia/augmentation/base.py
  kornia/augmentation/container/augmentation_sequential.py
  kornia/constants.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Removed extra import
  kornia/augmentation/container/augmentation_sequential.py
Owners: @shijianjian, @anguelos

don't use lambda functions
  test/geometry/transform/test_elastic_transform.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

make suggested changes (jit script fails due to resize)
  kornia/geometry/transform/elastic_transform.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Fixed typing and renamed InputType to DataCategory
  kornia/augmentation/container/augmentation_sequential.py
  kornia/augmentation/container/sequential.py
  kornia/augmentation/container/video.py
  kornia/constants.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Improve canny docs
  kornia/filters/canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz

Remove None option for the thresholds
  kornia/filters/canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz

argument description
  kornia/filters/canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz

add documentation to the module class
  kornia/filters/canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz

Raise error if converting to unit8 image to gray with float weights
  kornia/color/gray.py
  test/color/test_gray.py
Owners: @cceyda, @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Updated code
  kornia/augmentation/base.py
  kornia/augmentation/container/augmentation_sequential.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

simplify code
  kornia/augmentation/base.py
Owners: @shijianjian, @anguelos

Raise error if converting to unit8 image to gray with float weights (#1057)
  kornia/color/gray.py
  test/color/test_gray.py
Owners: @cceyda, @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Raise error if converting to unit8 image to gray with float weights (#1057)
  kornia/color/gray.py
  test/color/test_gray.py
Owners: @cceyda, @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Add test functions
  kornia/filters/canny.py
  test/filters/test_canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz, @shijianjian, @anguelos

Correct style and build docs
  kornia/filters/canny.py
  test/filters/test_canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz, @shijianjian, @anguelos

Fix dtypes
  kornia/filters/canny.py
  test/filters/test_canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz, @shijianjian, @anguelos

Imrpove __repr__ method
  kornia/filters/canny.py
Owners: @edgarriba, @ducha-aiki, @lferraz

Added Batched forward function
  kornia/utils/__init__.py
  kornia/utils/memory.py
  test/utils/test_memory.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

added to the docs
  docs/source/utils.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

remove lena
  tutorials/data/lena.jpg
  tutorials/gaussian_blur.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

remove lena (#1059)
  tutorials/data/lena.jpg
  tutorials/gaussian_blur.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

remove lena (#1059)
  tutorials/data/lena.jpg
  tutorials/gaussian_blur.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

fix tests for cuda/cpu/docs
  kornia/utils/memory.py
  test/utils/test_memory.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

docs are created tirch torchcpu...
  kornia/utils/memory.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Add Canny edge detection (#1020)
  docs/source/filters.rst
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/canny.py
  kornia/filters/kernels.py
  test/filters/test_canny.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Add Canny edge detection (#1020)
  docs/source/filters.rst
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/canny.py
  kornia/filters/kernels.py
  test/filters/test_canny.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Added Batched forward function (#1058)
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/memory.py
  test/utils/test_memory.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Added Batched forward function (#1058)
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/memory.py
  test/utils/test_memory.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Added denormalize homography function
  docs/source/geometry.warp.rst
  kornia/geometry/transform/homography_warper.py
  test/geometry/transform/test_homography_warper.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Fixed #1055
  kornia/augmentation/augmentation.py
  kornia/augmentation/base.py
  kornia/augmentation/container/augmentation_sequential.py
  test/augmentation/test_container.py
  test/augmentation/test_perspective.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Added tests for sequential.
  kornia/augmentation/base.py
  kornia/augmentation/container/augmentation_sequential.py
  kornia/augmentation/container/sequential.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Added consistency test
  test/geometry/transform/test_homography_warper.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added denormalize homography function (#1061)
  docs/source/geometry.warp.rst
  kornia/geometry/transform/homography_warper.py
  test/geometry/transform/test_homography_warper.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
