Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian

[feat] Added random_apply to augmentaton containers (#1125)
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

[feat] Added random_apply to augmentaton containers (#1125)
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Add auto-image docs in kornia.filters (#1129)
  docs/.gitignore
  docs/generate_example_images.py
  docs/source/contrib.rst
  docs/source/filters.rst
  kornia/augmentation/container/augment.py
  kornia/contrib/extract_patches.py
  kornia/filters/blur.py
  kornia/filters/blur_pool.py
  kornia/filters/canny.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/kernels.py
  kornia/filters/laplacian.py
  kornia/filters/median.py
  kornia/filters/motion.py
  kornia/filters/sobel.py
  kornia/filters/unsharp.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @duch-aiki, @lferraz

Add auto-image docs in kornia.filters (#1129)
  docs/.gitignore
  docs/generate_example_images.py
  docs/source/contrib.rst
  docs/source/filters.rst
  kornia/augmentation/container/augment.py
  kornia/contrib/extract_patches.py
  kornia/filters/blur.py
  kornia/filters/blur_pool.py
  kornia/filters/canny.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/kernels.py
  kornia/filters/laplacian.py
  kornia/filters/median.py
  kornia/filters/motion.py
  kornia/filters/sobel.py
  kornia/filters/unsharp.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @duch-aiki, @lferraz

fix assert_close in test_container
  test/augmentation/test_container.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

fix assert_close in test_container (#1130)
  test/augmentation/test_container.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

fix assert_close in test_container (#1130)
  test/augmentation/test_container.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add auto-images in geometry transform module
  docs/generate_example_images.py
  docs/source/geometry.transform.rst
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/flips.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/geometry/transform/pyramid.py
  kornia/geometry/transform/thin_plate_spline.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

[Feat] Stereo camera class (#1102)
  docs/source/geometry.camera.rst
  docs/source/geometry.camera.stereo.rst
  kornia/geometry/camera/__init__.py
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

[Feat] Stereo camera class (#1102)
  docs/source/geometry.camera.rst
  docs/source/geometry.camera.stereo.rst
  kornia/geometry/camera/__init__.py
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Apply suggestions from code review
  test/augmentation/test_augmentation.py
  test/enhance/test_normalize.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

release 0.5.5
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add auto-images in geometry transform module (#1131)
  docs/generate_example_images.py
  docs/source/geometry.transform.rst
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/flips.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/geometry/transform/pyramid.py
  kornia/geometry/transform/thin_plate_spline.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

add auto-images in geometry transform module (#1131)
  docs/generate_example_images.py
  docs/source/geometry.transform.rst
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/flips.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/geometry/transform/pyramid.py
  kornia/geometry/transform/thin_plate_spline.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

add option for mean and std to be tuples (#987)
  kornia/augmentation/augmentation.py
  kornia/enhance/normalize.py
  test/augmentation/test_augmentation.py
  test/enhance/test_normalize.py
Owners: @shijianjian, @anguelos, @lferraz, @edgarriba, @ducha-aiki

add option for mean and std to be tuples (#987)
  kornia/augmentation/augmentation.py
  kornia/enhance/normalize.py
  test/augmentation/test_augmentation.py
  test/enhance/test_normalize.py
Owners: @shijianjian, @anguelos, @lferraz, @edgarriba, @ducha-aiki

fix minor mypy issues across versions
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/geometry/camera/stereo.py
  kornia/testing/__init__.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

fix minor mypy issues across versions (#1132)
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/geometry/camera/stereo.py
  kornia/testing/__init__.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

fix minor mypy issues across versions (#1132)
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/geometry/camera/stereo.py
  kornia/testing/__init__.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

release 0.5.5 (#1126)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

release 0.5.5 (#1126)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update governance.rst
  docs/source/governance.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update governance.rst
  docs/source/governance.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Backward compatibility with fixed names
  kornia/augmentation/augmentation.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/geometry/bbox.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/crop/crop2d.py
  test/augmentation/test_container.py
  test/geometry/test_bbox.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

With lost import
  kornia/augmentation/container/augment.py
Owners: @shijianjian, @anguelos

With docs entry for bbox module
  docs/source/geometry.bbox.rst
  docs/source/geometry.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Basic pool request for DeFMO.
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

update logo with white background
  docs/source/_static/img/kornia_logo.png
Owners: @edgarriba, @shijianjian, @ducha-aiki

update logo with white background
  docs/source/_static/img/kornia_logo.png
Owners: @edgarriba, @shijianjian, @ducha-aiki

update readme and logo
  README.md
  docs/source/_static/img/kornia_logo.png
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update readme and logo
  README.md
  docs/source/_static/img/kornia_logo.png
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

allow new versions of numpy
  setup.py
Owners: @edgarriba, @shijianjian

allow new versions of numpy
  setup.py
Owners: @edgarriba, @shijianjian

Naming changed from _3d to 3d
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/geometry/bbox.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  test/geometry/test_bbox.py
  test/geometry/transform/test_projwarp.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

improve typing docs in kornia utils
  kornia/utils/draw.py
  kornia/utils/grid.py
  kornia/utils/image.py
  kornia/utils/memory.py
  kornia/utils/metrics/confusion_matrix.py
  kornia/utils/metrics/mean_iou.py
  kornia/utils/one_hot.py
  kornia/utils/pointcloud_io.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba

Update kornia/feature/defmo.py
  kornia/feature/defmo.py
Owners: @ducha-aiki, @edgarriba
