Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

update mypy
  Makefile
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

req
  requirements-dev.txt
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

apply pre-commit
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/configurations/changelog-ci-config.json
  .github/pull-request-template.md
  .github/stale.yml
  .github/workflows/changelog.yml
  .github/workflows/format.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CITATION.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  Makefile
  README.md
  docs/.gitignore
  docs/source/_static/img/kornia_logo.svg
  docs/source/augmentation.base.rst
  docs/source/augmentation.rst
  docs/source/faqs.rst
  docs/source/feature.rst
  docs/source/geometry.conversions.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/morphology.rst
  docs/source/references.bib
  examples/README.rst
  examples/depth_regression/readme.rst
  examples/depth_warper/readme.rst
  examples/homography_regression/readme.rst
  kornia/augmentation/README.md
  kornia/feature/orientation.py
  packaging/README.rst
  path.bash.inc
  requirements-dev.txt
  tutorials/README.rst
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add precommit (#1038)
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/configurations/changelog-ci-config.json
  .github/pull-request-template.md
  .github/stale.yml
  .github/workflows/changelog.yml
  .github/workflows/format.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CITATION.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  Makefile
  README.md
  docs/.gitignore
  docs/source/_static/img/kornia_logo.svg
  docs/source/augmentation.base.rst
  docs/source/augmentation.rst
  docs/source/faqs.rst
  docs/source/feature.rst
  docs/source/geometry.conversions.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/morphology.rst
  docs/source/references.bib
  examples/README.rst
  examples/depth_regression/readme.rst
  examples/depth_warper/readme.rst
  examples/homography_regression/readme.rst
  kornia/augmentation/README.md
  kornia/feature/orientation.py
  packaging/README.rst
  path.bash.inc
  requirements-dev.txt
  setup.cfg
  tutorials/README.rst
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add precommit (#1038)
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/configurations/changelog-ci-config.json
  .github/pull-request-template.md
  .github/stale.yml
  .github/workflows/changelog.yml
  .github/workflows/format.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CITATION.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  Makefile
  README.md
  docs/.gitignore
  docs/source/_static/img/kornia_logo.svg
  docs/source/augmentation.base.rst
  docs/source/augmentation.rst
  docs/source/faqs.rst
  docs/source/feature.rst
  docs/source/geometry.conversions.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/morphology.rst
  docs/source/references.bib
  kornia/augmentation/README.md
  kornia/feature/orientation.py
  packaging/README.rst
  path.bash.inc
  requirements-dev.txt
  setup.cfg
  tutorials/README.rst
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

resize to support any dimensional images
  kornia/geometry/transform/affwarp.py
  test/geometry/transform/test_affine.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

wrap to preserved function metadata
  kornia/geometry/transform/affwarp.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

prune CI formatting + parallel (#1043)
  .github/workflows/format.yml
  Makefile
  kornia/augmentation/augmentation.py
  requirements-dev.txt
  setup.cfg
  setup.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

prune CI formatting + parallel (#1043)
  .github/workflows/format.yml
  Makefile
  kornia/augmentation/augmentation.py
  requirements-dev.txt
  setup.cfg
  setup.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

fix link/mypy only
  Makefile
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

cache
  Makefile
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add precommit as GHA
  .github/workflows/format.yml
Owners: @edgarriba, @shijianjian

CI: fix running link/mypy only (#1048)
  Makefile
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

CI: fix running link/mypy only (#1048)
  Makefile
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add precommit as GHA (#1049)
  .github/workflows/format.yml
Owners: @edgarriba, @shijianjian

add precommit as GHA (#1049)
  .github/workflows/format.yml
Owners: @edgarriba, @shijianjian

implement coarse_noise approach and refactor
  kornia/geometry/transform/elastic_transform.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

test coarse_noise approach and refector deprecated tests
  test/geometry/transform/test_elastic_transform.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

some cleanups and generalization
  kornia/geometry/transform/affwarp.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

use autopep8 instead of yapf for performance
  .pre-commit-config.yaml
  docs/source/conf.py
  setup.cfg
  setup.py
  tutorials/color_adjust.py
  tutorials/color_conversions.py
  tutorials/data_augmentation.py
  tutorials/filter_blurring.py
  tutorials/filter_edges.py
  tutorials/total_variation_denoising.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

fix linter
  docs/source/conf.py
Owners: @edgarriba, @shijianjian

fix morphology docs issue
  docs/source/morphology.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix morphology docs and sphinx version (#1042)
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/morphology.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix morphology docs and sphinx version (#1042)
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/morphology.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Small fix in augmentation.Denormalize docstrings
  kornia/augmentation/augmentation.py
Owners: @shijianjian, @anguelos

added tests
  test/geometry/transform/test_affine.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Small fix in augmentation.Denormalize docstrings (#1054)
  kornia/augmentation/augmentation.py
Owners: @shijianjian, @anguelos

Small fix in augmentation.Denormalize docstrings (#1054)
  kornia/augmentation/augmentation.py
Owners: @shijianjian, @anguelos

Merge branch 'master' of https://github.com/justanhduc/kornia
  kornia/geometry/transform/affwarp.py
  kornia/utils/image.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

add pre-commit badge
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

---
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add pre-commit badge (#1046)
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add pre-commit badge (#1046)
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Resize regardless of number of dims, considering the last two dims as image (#1047)
  kornia/geometry/transform/affwarp.py
  kornia/utils/image.py
  test/geometry/transform/test_affine.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Resize regardless of number of dims, considering the last two dims as image (#1047)
  kornia/geometry/transform/affwarp.py
  kornia/utils/image.py
  test/geometry/transform/test_affine.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

change other Normalize class and test
  kornia/augmentation/augmentation.py
  test/augmentation/test_augmentation.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Enabled mixed sequential input for videos
  kornia/augmentation/container/video.py
Owners: @shijianjian, @anguelos

fixed docs
  kornia/augmentation/container/sequential.py
Owners: @shijianjian, @anguelos

Updated augmentation sequential
  kornia/augmentation/augmentation.py
  kornia/augmentation/container/augmentation_seqential.py
  kornia/augmentation/container/sequential.py
Owners: @shijianjian, @anguelos

Added a basic container
  kornia/augmentation/container/sequential.py
  kornia/augmentation/container/video.py
Owners: @shijianjian, @anguelos

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
