Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

uncomment
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Return reprojected point cloud as (batch_size, height, width, 3).
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added another test + added checks for input type.
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

type ignored.
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

type ignored.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

remove numpy import
  docs/generate_example_images.py
  kornia/testing/__init__.py
  kornia/utils/image.py
  setup.cfg
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Unify APIs
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/operation/enhance_ops.py
  kornia/augmentation/core/operation/perspective_ops.py
  kornia/augmentation/core/sampling/dynamic_sampling.py
Owners: @shijianjian, @anguelos

undo and add setup develop in gh actions
  .github/workflows/format.yml
  kornia/utils/image.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

remove create_checkerboard
  kornia/testing/__init__.py
  test/geometry/transform/test_homography_warper.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

remove numpy import (#1116)
  .github/workflows/format.yml
  docs/generate_example_images.py
  kornia/testing/__init__.py
  setup.cfg
  test/geometry/transform/test_homography_warper.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

remove numpy import (#1116)
  .github/workflows/format.yml
  docs/generate_example_images.py
  kornia/testing/__init__.py
  setup.cfg
  test/geometry/transform/test_homography_warper.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

update ci with pytorch 1.9.0
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_cpu_versions.yml
Owners: @edgarriba, @shijianjian

set minimum numpy version for python 3.6
  setup.py
Owners: @edgarriba, @shijianjian

small update in augmentation docs
  docs/generate_example_images.py
  docs/source/augmentation.base.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

add center_crop
  docs/Makefile
  docs/generate_example_images.py
  docs/requirements.txt
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

remove readthedocs.yml file
  readthedocs.yml
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add again readthedocs.yml
  readthedocs.yml
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update sphinx version
  docs/requirements.txt
Owners: @edgarriba, @shijianjian, @ducha-aiki

update bibtex
  docs/requirements.txt
  docs/source/conf.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

update references section
  docs/source/index.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

update ci with pytorch 1.9.0 (#1120)
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_cpu_versions.yml
  setup.py
Owners: @edgarriba, @shijianjian

update ci with pytorch 1.9.0 (#1120)
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_cpu_versions.yml
  setup.py
Owners: @edgarriba, @shijianjian

update python version to 3.8
  docs/requirements.txt
Owners: @edgarriba, @shijianjian, @ducha-aiki

update setup_dev_env.sh with pytorch 1.9.0
  setup_dev_env.sh
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update setup_dev_env.sh with pytorch 1.9.0
  setup_dev_env.sh
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update sphinx theme
  docs/requirements.txt
  docs/source/conf.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

remove add old tutorials
  docs/source/conf.py
Owners: @edgarriba, @shijianjian

add auto defaults
  docs/requirements.txt
  docs/source/conf.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

fix sphinx plugins versions
  docs/requirements.txt
Owners: @edgarriba, @shijianjian, @ducha-aiki

disable copybutton
  docs/requirements.txt
  docs/source/conf.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

merged imagewarp.warp_perspective and homography_warper.homography_warp into one function: homography_warper.warp_perspective
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/warp/homography_warper.py
  test/geometry/transform/test_homography_warper.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Quick bug fix
  kornia/augmentation/core/sampling/dynamic_sampling.py
Owners: @shijianjian, @anguelos

PR for issue #1115
  kornia/augmentation/__init__.py
Owners: @shijianjian, @anguelos

Change all GaussianBlur to RandomGaussianBlur
  docs/source/augmentation.module.rst
  kornia/augmentation/augmentation.py
  test/augmentation/test_augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

change GaussianBlur to RandomGaussianBlur
  kornia/augmentation/__init__.py
Owners: @shijianjian, @anguelos

Change GaussianBlur to RandomGaussianBlur (#1118)
  docs/source/augmentation.module.rst
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  test/augmentation/test_augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

Change GaussianBlur to RandomGaussianBlur (#1118)
  docs/source/augmentation.module.rst
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  test/augmentation/test_augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

enable pshinx plugins again and fix install names
  docs/requirements.txt
  docs/source/conf.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

add color module
  docs/generate_example_images.py
  kornia/color/gray.py
  kornia/color/hls.py
  kornia/color/hsv.py
  kornia/color/lab.py
  kornia/color/luv.py
  kornia/color/rgb.py
  kornia/color/xyz.py
  kornia/color/ycbcr.py
  kornia/color/yuv.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @cceyda

update lab,luv and hsv normalization
  docs/generate_example_images.py
  kornia/color/luv.py
  kornia/color/rgb.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @cceyda

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
