Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

Minor change
  test/morphology/test_dilation.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Change -/+ infinity
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Put infinity in the signature
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Change imports
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Change infinity for max_val
  kornia/geometry/conversions.py
  kornia/morphology/morphology.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @Juclique

[Enhance] Removed augmentation functional module. (#1067)
  docs/source/augmentation.module.rst
  kornia/__init__.py
  kornia/augmentation/functional/__init__.py
  kornia/augmentation/functional/__temp__.py
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
  test/augmentation/test_functional.py
  test/augmentation/test_perspective.py
  test/augmentation/test_transformation_matrix.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

[Enhance] Removed augmentation functional module. (#1067)
  docs/source/augmentation.module.rst
  kornia/__init__.py
  kornia/augmentation/functional/__init__.py
  kornia/augmentation/functional/__temp__.py
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
  test/augmentation/test_functional.py
  test/augmentation/test_perspective.py
  test/augmentation/test_transformation_matrix.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Make Morphology compatible with both OpenCV and Scipy (#1084)
  kornia/geometry/conversions.py
  kornia/morphology/morphology.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @Juclique, @lferraz, @anguelos

Make Morphology compatible with both OpenCV and Scipy (#1084)
  kornia/geometry/conversions.py
  kornia/morphology/morphology.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @Juclique, @lferraz, @anguelos

Code aligned with PEP8
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

split opencv_test into three different test
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

hotfix for deprecation augmentatio functionals
  Makefile
  test/augmentation/test_augmentation.py
  test/augmentation/test_augmentation_3d.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

hotfix for deprecation augmentatio functionals (#1094)
  Makefile
  test/augmentation/test_augmentation.py
  test/augmentation/test_augmentation_3d.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

hotfix for deprecation augmentatio functionals (#1094)
  Makefile
  test/augmentation/test_augmentation.py
  test/augmentation/test_augmentation_3d.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update kornia/geometry/calibration/undistort.py
  kornia/geometry/calibration/undistort.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Undistort 2D points function (#1026)
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Undistort 2D points function (#1026)
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

updated patch augmentation
  kornia/augmentation/__init__.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  kornia/contrib/extract_patches.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @duch-aiki, @edgarriba, @ducha-aiki, @lferraz

release 0.5.4
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Fixed lint
  kornia/augmentation/container/augment.py
  kornia/contrib/extract_patches.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @duch-aiki, @edgarriba, @ducha-aiki, @lferraz

add camera calibration docs
  docs/source/geometry.calibration.rst
  docs/source/geometry.rst
  kornia/geometry/__init__.py
  kornia/geometry/calibration/__init__.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix denormalize_homography docs
  docs/source/geometry.transform.rst
  docs/source/geometry.warp.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

adjust docs depencies versions
  docs/requirements.txt
Owners: @edgarriba, @shijianjian, @ducha-aiki

Renamed forward_batchwise and forward_patchwise
  kornia/augmentation/container/patch.py
Owners: @shijianjian, @anguelos

Added BACKERS.md
  BACKERS.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add docs for caliibrations (#1097)
  docs/requirements.txt
  docs/source/geometry.calibration.rst
  docs/source/geometry.rst
  docs/source/geometry.transform.rst
  docs/source/geometry.warp.rst
  kornia/geometry/__init__.py
  kornia/geometry/calibration/__init__.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

add docs for caliibrations (#1097)
  docs/requirements.txt
  docs/source/geometry.calibration.rst
  docs/source/geometry.rst
  docs/source/geometry.transform.rst
  docs/source/geometry.warp.rst
  kornia/geometry/__init__.py
  kornia/geometry/calibration/__init__.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Added BACKERS.md (#1098)
  BACKERS.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added BACKERS.md (#1098)
  BACKERS.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

[feat] updated patch augmentation (#1095)
  kornia/augmentation/__init__.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

[feat] updated patch augmentation (#1095)
  kornia/augmentation/__init__.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Update augmentation.container.rst
  docs/source/augmentation.container.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update augmentation.container.rst
  docs/source/augmentation.container.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

release 0.5.4 (#1096)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

release 0.5.4 (#1096)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update hello world teaser image
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update hello world teaser image
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

updated docs for filter2d & filter3d
  docs/source/filters.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Refined augmenation core logic
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator.py
Owners: @shijianjian, @anguelos

Updated smart sampling.
  kornia/augmentation/core/sampling.py
  kornia/augmentation/core/smart_sampling.py
Owners: @shijianjian, @anguelos

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
