Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

Added p_batch and return_transform
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/operation_base.py
Owners: @shijianjian, @anguelos

Updated perspective transformation
  kornia/augmentation/core/augmentation.py
Owners: @shijianjian, @anguelos

Fixed STE bug and added STE nn.Module
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator.py
  kornia/augmentation/core/operation_base.py
Owners: @shijianjian, @anguelos

Updated STE
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator.py
  kornia/augmentation/core/operation_base.py
Owners: @shijianjian, @anguelos

Refactored codebase
  kornia/augmentation/core/__init__.py
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator/__init__.py
  kornia/augmentation/core/gradient_estimator/ste.py
  kornia/augmentation/core/operation/__init__.py
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/operation/crop_ops.py
  kornia/augmentation/core/operation/enhance_ops.py
  kornia/augmentation/core/operation_intensity.py
  kornia/augmentation/core/smart_sampling/__init__.py
  kornia/augmentation/core/smart_sampling/smart_sampling.py
Owners: @shijianjian, @anguelos

Update it
  kornia/augmentation/core/augmentation.py
Owners: @shijianjian, @anguelos

Added crop
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator.py
Owners: @shijianjian, @anguelos

Better DDA
  kornia/augmentation/core/__init__.py
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator.py
  kornia/augmentation/core/sampling.py
Owners: @shijianjian, @anguelos

Naming update & added STE doctests
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/operation_base.py
Owners: @shijianjian, @anguelos

Updated default STE transform from _identity to _resize
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/gradient_estimator.py
  kornia/augmentation/core/operation_base.py
  kornia/augmentation/core/operation_geometric.py
  kornia/augmentation/core/operation_intensity.py
  kornia/augmentation/core/smart_sampling.py
Owners: @shijianjian, @anguelos

Bug fix
  kornia/augmentation/core/augmentation.py
  kornia/augmentation/core/operation_base.py
  kornia/utils/helpers.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki

Code refactor
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/operation/crop_ops.py
  kornia/augmentation/core/operation/enhance_ops.py
Owners: @shijianjian, @anguelos

Bug fix & decoupled param generators.
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/smart_sampling/smart_sampling.py
Owners: @shijianjian, @anguelos

Added distribution entropy
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/smart_sampling/smart_sampling.py
Owners: @shijianjian, @anguelos

Updated API structure
  kornia/augmentation/__init__.py
  kornia/augmentation/core/__init__.py
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/operation/crop_ops.py
  kornia/augmentation/core/operation/enhance_ops.py
Owners: @shijianjian, @anguelos

updated docs for filter2d & filter3d (#1100)
  docs/source/filters.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

updated docs for filter2d & filter3d (#1100)
  docs/source/filters.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix tests and mean shape assertions
  kornia/enhance/normalize.py
  test/enhance/test_normalize.py
Owners: @lferraz, @edgarriba, @ducha-aiki, @shijianjian, @anguelos

fix augmentation tests
  test/augmentation/test_augmentation.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Created stereo camera and finished interface and properties. Created associated tests.
  kornia/geometry/camera/__init__.py
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added reproject_image_to_3D method and refactored tests.
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added final check that everything went well.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Cleaned up tests and added some comments.
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Refactored test.
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Finished docstrings, comments and types.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Changed to kitti test data
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added docs.
  docs/source/geometry.camera.rst
  docs/source/geometry.camera.stereo.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Added some math.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Fixed some docstrings.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Make test methods static.
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Fixed dtype checks and tests.
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

fix smoke test
  test/enhance/test_normalize.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

merge isinstance
  kornia/augmentation/augmentation.py
  kornia/enhance/normalize.py
Owners: @shijianjian, @anguelos, @lferraz, @edgarriba

fix doctests and python checks
  kornia/augmentation/augmentation.py
  kornia/enhance/normalize.py
  test/augmentation/test_augmentation.py
  test/enhance/test_normalize.py
Owners: @shijianjian, @anguelos, @lferraz, @edgarriba, @ducha-aiki

Moving bbox-related functionality to bbox module
  kornia/augmentation/augmentation.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/geometry/__init__.py
  kornia/geometry/bbox.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  test/augmentation/test_container.py
  test/geometry/test_bbox.py
  test/geometry/transform/crop/test_crop2d.py
  test/geometry/transform/crop/test_crop3d.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

With transform boxes test moved to test/bbox
  test/geometry/test_bbox.py
  test/geometry/test_linalg.py
  test/geometry/transform/test_projwarp.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

autogenerate image samples in the docs
  .gitignore
  Makefile
  docs/Makefile
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

force remove images
  docs/Makefile
Owners: @edgarriba, @shijianjian, @ducha-aiki

autogenerate image samples in the docs (#1105)
  .gitignore
  Makefile
  docs/Makefile
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

autogenerate image samples in the docs (#1105)
  .gitignore
  Makefile
  docs/Makefile
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
