Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

Fix importing bbox methods across the library
  kornia/augmentation/container/augment.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/random_generator/random_generator3d.py
  test/geometry/test_bbox.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Update morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update morphology.py (#1106)
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update morphology.py (#1106)
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

fix doc tests
  kornia/enhance/normalize.py
Owners: @lferraz, @edgarriba

With backward compatibility and deprecation warnings included
  kornia/geometry/bbox.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  test/geometry/test_linalg.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Unfold->conv for morphology backbone
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Updated function naming and typing.
  kornia/augmentation/core/__init__.py
  kornia/augmentation/core/gradient_estimator/ste.py
  kornia/augmentation/core/operation/__init__.py
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/operation/enhance_ops.py
  kornia/augmentation/core/operation/perspective_ops.py
  kornia/augmentation/core/sampling/__init__.py
  kornia/augmentation/core/sampling/dynamic_sampling.py
  kornia/augmentation/core/smart_sampling/__init__.py
Owners: @shijianjian, @anguelos

Update morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update generate_example_images.py
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update generate_example_images.py
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix images paths
  docs/generate_example_images.py
  docs/source/augmentation.module.rst
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

Added derivation of Q matrix.
  docs/source/geometry.camera.stereo.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update kornia/geometry/camera/stereo.py
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Update kornia/geometry/camera/stereo.py
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Update kornia/geometry/camera/stereo.py
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Removed StereoCamera from top-level API.
  kornia/geometry/camera/__init__.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Added flip test
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

increase test tolerance, so cuda-float16 not failing
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

increase test tolerance, so cuda-float16 not failing
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Unfold->conv for morphology backbone
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Added flip test
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

forward
  kornia/color/gray.py
  kornia/color/hls.py
  kornia/color/hsv.py
  kornia/color/lab.py
  kornia/color/luv.py
  kornia/color/rgb.py
  kornia/color/xyz.py
  kornia/color/ycbcr.py
  kornia/color/yuv.py
  kornia/feature/orientation.py
  kornia/feature/responses.py
  kornia/geometry/transform/flips.py
  kornia/losses/depth_smooth.py
  kornia/losses/total_variation.py
Owners: @cceyda, @edgarriba, @ducha-aiki, @shijianjian

Relax tests for GPU
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_opening.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Relax tests for GPU
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Try using static/img path instead.
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

Trying with absolute path
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

another trail
  kornia/augmentation/augmentation.py
Owners: @shijianjian, @anguelos

Move image gen happen inside conf.py
  Makefile
  docs/generate_example_images.py
  docs/source/conf.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

revert back
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Reevert back
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Updated images
  docs/generate_example_images.py
  docs/source/conf.py
  kornia/augmentation/augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

Fixed tests to include all dtypes and changed input checks.
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Cache Q matrix.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Changed disparity tensor to have four dimension i.e. a single channeled batch.
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Use kornia functions for homogeneous conversion and meshgrid.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Simplify by removing some variables.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

refined everything
  kornia/augmentation/core/operation/affine_ops.py
  kornia/augmentation/core/operation/base.py
  kornia/augmentation/core/operation/enhance_ops.py
  kornia/augmentation/core/operation/perspective_ops.py
Owners: @shijianjian, @anguelos

Added mix augmentation images
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
  kornia/augmentation/mix_augmentation.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian
