Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian

Update kornia/morphology/morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update kornia/morphology/morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update kornia/morphology/morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update kornia/morphology/morphology.py
  kornia/morphology/morphology.py
Owners: @Juclique, @edgarriba, @ducha-aiki

Update generate_example_images.py
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Added chinese version README
  README.md
  README_zh-CN.md
  docs/source/_static/img/cn_community_qq.jpg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added chinese version README (#1112)
  README.md
  README_zh-CN.md
  docs/source/_static/img/cn_community_qq.jpg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Added chinese version README (#1112)
  README.md
  README_zh-CN.md
  docs/source/_static/img/cn_community_qq.jpg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Fix images docs paths and improves auto typing (#1108)
  Makefile
  docs/Makefile
  docs/generate_example_images.py
  docs/requirements.txt
  docs/source/augmentation.base.rst
  docs/source/conf.py
  docs/source/index.rst
  kornia/augmentation/augmentation.py
  kornia/augmentation/mix_augmentation.py
  kornia/color/gray.py
  kornia/color/hls.py
  kornia/color/hsv.py
  kornia/color/lab.py
  kornia/color/luv.py
  kornia/color/rgb.py
  kornia/color/xyz.py
  kornia/color/ycbcr.py
  kornia/color/yuv.py
  readthedocs.yml
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda

Fix images docs paths and improves auto typing (#1108)
  Makefile
  docs/Makefile
  docs/generate_example_images.py
  docs/requirements.txt
  docs/source/augmentation.base.rst
  docs/source/conf.py
  docs/source/index.rst
  kornia/augmentation/augmentation.py
  kornia/augmentation/mix_augmentation.py
  kornia/color/gray.py
  kornia/color/hls.py
  kornia/color/hsv.py
  kornia/color/lab.py
  kornia/color/luv.py
  kornia/color/rgb.py
  kornia/color/xyz.py
  kornia/color/ycbcr.py
  kornia/color/yuv.py
  readthedocs.yml
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda

Added random_apply
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
Owners: @shijianjian, @anguelos

Added tests
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Added random_apply parameter for containers.
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
Owners: @shijianjian, @anguelos

Updated patchwise forward to be image-patch-wise.
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
Owners: @shijianjian, @anguelos

Fixed lint
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Fixed lint
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
Owners: @shijianjian, @anguelos

Update kornia/geometry/camera/stereo.py
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Update kornia/geometry/camera/stereo.py
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Readded StereoCamera.
  kornia/geometry/camera/__init__.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Changed disparity tensor to be channel last and utilize transform_points.
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Batch uv first before unbinding.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

use unbind for unbinding uv.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

Bug fix
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

fixed typing
  kornia/augmentation/container/image.py
Owners: @shijianjian, @anguelos

Remove unused variable.
  kornia/geometry/camera/stereo.py
Owners: @edgarriba, @ducha-aiki, @shijianjian

add auto generated image in kornia.enhance
  docs/generate_example_images.py
  docs/source/enhance.rst
  kornia/enhance/adjust.py
  kornia/enhance/core.py
  kornia/enhance/equalization.py
  kornia/enhance/histogram.py
  kornia/enhance/normalize.py
  kornia/enhance/zca.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz

add auto generated image in kornia.enhance (#1127)
  docs/generate_example_images.py
  docs/source/enhance.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/patch.py
  kornia/enhance/adjust.py
  kornia/enhance/core.py
  kornia/enhance/equalization.py
  kornia/enhance/histogram.py
  kornia/enhance/normalize.py
  kornia/enhance/zca.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

add auto generated image in kornia.enhance (#1127)
  docs/generate_example_images.py
  docs/source/enhance.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/patch.py
  kornia/enhance/adjust.py
  kornia/enhance/core.py
  kornia/enhance/equalization.py
  kornia/enhance/histogram.py
  kornia/enhance/normalize.py
  kornia/enhance/zca.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

Added replacement feature for containers
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Removed redundent imports
  test/augmentation/test_container.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add auto-image docs in kornia.morphology
  docs/generate_example_images.py
  kornia/morphology/morphology.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @Juclique

Fixed a bug during the invert
  kornia/augmentation/container/augment.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

add auto-image docs in kornia.morphology (#1128)
  docs/generate_example_images.py
  kornia/morphology/morphology.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @Juclique

add auto-image docs in kornia.morphology (#1128)
  docs/generate_example_images.py
  kornia/morphology/morphology.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @Juclique

add auto-image docs in kornia.morphology
  docs/generate_example_images.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

add auto-image docs in kornia.filters
  docs/generate_example_images.py
  docs/source/filters.rst
  kornia/filters/blur.py
  kornia/filters/canny.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/kernels.py
  kornia/filters/laplacian.py
  kornia/filters/median.py
  kornia/filters/motion.py
  kornia/filters/sobel.py
  kornia/filters/unsharp.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz

fix autoaugmentation sequential
  docs/.gitignore
  kornia/augmentation/container/augment.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

add missing max/blur pool
  docs/generate_example_images.py
  docs/source/contrib.rst
  docs/source/filters.rst
  kornia/filters/blur_pool.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz

update extract_tensor docstring
  kornia/contrib/extract_patches.py
Owners: @shijianjian, @duch-aiki

add TODO
  kornia/testing/__init__.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos
