Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian

Added denormalize homography function (#1061)
  docs/source/geometry.warp.rst
  kornia/geometry/transform/homography_warper.py
  test/geometry/transform/test_homography_warper.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Fixed mypy
  kornia/augmentation/container/augmentation_sequential.py
  kornia/augmentation/container/sequential.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @edgarriba, @shijianjian

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @edgarriba, @shijianjian

Update read me header
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update read me header (#1065)
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update read me header (#1065)
  README.md
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update setup.py
  setup.py
Owners: @edgarriba, @shijianjian

Optional batch inputs for undistortion
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Renamed some functions and arguments.
  kornia/augmentation/__init__.py
  kornia/augmentation/base.py
  kornia/augmentation/container/augmentation_sequential.py
  kornia/augmentation/container/sequential.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Apply suggestions from code review
  setup.py
Owners: @edgarriba, @shijianjian

Update setup.py
  setup.py
Owners: @edgarriba, @shijianjian

Update setup.py (#1066)
  setup.py
Owners: @edgarriba, @shijianjian

Update setup.py (#1066)
  setup.py
Owners: @edgarriba, @shijianjian

2D->2d, 3D->3d
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/blur.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/laplacian.py
  kornia/filters/motion.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/pyramid.py
  kornia/losses/ssim.py
  test/filters/test_filters.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

added deprecation message for filter2D & filter3D
  kornia/filters/__init__.py
  kornia/filters/__tmp__.py
  kornia/filters/filter.py
Owners: @edgarriba, @ducha-aiki, @lferraz

Rename DataCategory to DataKey and added more tests.
  kornia/augmentation/container/augmentation_sequential.py
  kornia/augmentation/container/sequential.py
  kornia/augmentation/container/video.py
  kornia/constants.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Filter 2D->2d, 3D->3d (#1069)
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/__tmp__.py
  kornia/filters/blur.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/laplacian.py
  kornia/filters/motion.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/pyramid.py
  kornia/losses/ssim.py
  test/filters/test_filters.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Filter 2D->2d, 3D->3d (#1069)
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/__tmp__.py
  kornia/filters/blur.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/laplacian.py
  kornia/filters/motion.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/pyramid.py
  kornia/losses/ssim.py
  test/filters/test_filters.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Renamed Sequential to ImageSequential
  docs/source/augmentation.container.rst
  kornia/augmentation/__init__.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

Add .deepsource.toml
  .deepsource.toml
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Apply suggestions from code review
  examples/depth_regression/main.py
  examples/depth_warper/main.py
  examples/homography_regression/main.py
  kornia/augmentation/augmentation.py
  kornia/augmentation/base.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

ValueError
  kornia/augmentation/base.py
  kornia/augmentation/container/video.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/enhance/equalization.py
  kornia/feature/matching.py
  kornia/feature/nms.py
  kornia/filters/kernels.py
  kornia/geometry/epipolar/projection.py
  kornia/geometry/epipolar/triangulation.py
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/utils/draw.py
  kornia/utils/helpers.py
  test/enhance/test_adjust.py
Owners: @shijianjian, @anguelos, @lferraz, @edgarriba, @ducha-aiki

ValueError
  kornia/augmentation/base.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/utils/helpers.py
  kornia/augmentation/utils/param_validation.py
  kornia/enhance/adjust.py
  kornia/filters/blur_pool.py
  kornia/filters/filter.py
  kornia/filters/motion.py
  kornia/geometry/camera/pinhole.py
  kornia/geometry/epipolar/essential.py
  kornia/geometry/epipolar/fundamental.py
  kornia/geometry/epipolar/numeric.py
  kornia/geometry/homography.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  kornia/losses/depth_smooth.py
  kornia/testing/__init__.py
  test/augmentation/test_container.py
Owners: @shijianjian, @anguelos, @lferraz, @edgarriba, @ducha-aiki

long
  kornia/enhance/adjust.py
  kornia/geometry/transform/crop/crop2d.py
Owners: @lferraz, @edgarriba, @ducha-aiki, @shijianjian

Update kornia/utils/image.py
  kornia/utils/image.py
Owners: @edgarriba, @shijianjian, @ducha-aiki

Refactorization of kornia.morphology to be compatible with OpenCV and Scipy
  kornia/morphology/morphology.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Owners: @Juclique, @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Apply suggestions from code review
  docs/source/augmentation.container.rst
  kornia/augmentation/__init__.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos

[feat] Added more augmentations containers (#1014)
  docs/source/augmentation.container.rst
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/augmentation/base.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/video.py
  kornia/constants.py
  kornia/geometry/linalg.py
  test/augmentation/test_container.py
  test/augmentation/test_perspective.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

[feat] Added more augmentations containers (#1014)
  docs/source/augmentation.container.rst
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/augmentation/base.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/video.py
  kornia/constants.py
  kornia/geometry/linalg.py
  test/augmentation/test_container.py
  test/augmentation/test_perspective.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @anguelos, @lferraz

add missing augmentations in docs
  docs/source/augmentation.module.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

add missing augmentations in docs
  docs/source/augmentation.module.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

Update __init__.py
  kornia/augmentation/augmentation.py
  kornia/feature/__init__.py
Owners: @shijianjian, @anguelos, @ducha-aiki, @edgarriba

define isort
  requirements-dev.txt
  setup.cfg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

get_motion_kernel
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/kernels.py
  kornia/filters/kernels_geom.py
  kornia/filters/motion.py
  kornia/geometry/transform/pyramid.py
  test/filters/test_motion.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

cycles
  kornia/feature/affine_shape.py
  kornia/filters/canny.py
Owners: @ducha-aiki, @edgarriba, @lferraz

precomit
  .pre-commit-config.yaml
  kornia/filters/kernels_geom.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

geometry
  kornia/filters/__init__.py
  kornia/filters/kernels_geometry.py
  kornia/filters/motion.py
  test/filters/test_motion.py
Owners: @edgarriba, @ducha-aiki, @lferraz, @shijianjian, @anguelos

Removed augmentation functional module.
  docs/source/augmentation.module.rst
  kornia/__init__.py
  kornia/augmentation/augmentation.py
  kornia/augmentation/functional/__init__.py
  test/augmentation/test_functional.py
  test/augmentation/test_perspective.py
  test/augmentation/test_transformation_matrix.py
Owners: @edgarriba, @shijianjian, @ducha-aiki, @lferraz, @anguelos

Removed functional
  kornia/augmentation/functional/__temp__.py
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
Owners: @shijianjian, @anguelos
