Repository kornia/kornia, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos, @cceyda, @duch-aiki, @Juclique

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @edgarriba @ducha-aiki @shijianjian @lferraz @anguelos

# CI/CD and configs
/.github/       @edgarriba @shijianjian

# Docs
/docs/                      @edgarriba @shijianjian @ducha-aiki
/.github/*.md               @edgarriba @shijianjian
/.github/ISSUE_TEMPLATE/    @edgarriba @shijianjian
/docs/source/conf.py        @edgarriba @shijianjian

# Packages
/kornia/augmentation    @shijianjian @anguelos
/kornia/color           @cceyda @edgarriba
/kornia/contrib         @shijianjian @duch-aiki
/kornia/enhance         @lferraz @edgarriba
/kornia/feature         @ducha-aiki @edgarriba
/kornia/filters         @edgarriba @ducha-aiki @lferraz
/kornia/geometry        @edgarriba @ducha-aiki @shijianjian
/kornia/losses          @edgarriba @ducha-aiki
/kornia/morphology      @Juclique @edgarriba @ducha-aiki
/kornia/utils           @edgarriba @shijianjian @ducha-aiki

/.github/CODEOWNERS     @edgarriba
/README.rst             @edgarriba
/setup.py               @edgarriba @shijianjian

optimized clipping
  kornia/enhance/equalization.py
Owners: @lferraz, @edgarriba

adapt with GeometricAugmentation2D
  kornia/augmentation/augmentation.py
Owners: @shijianjian, @anguelos

some bugs solved
  kornia/enhance/equalization.py
  test/enhance/test_equalization.py
Owners: @lferraz, @edgarriba, @ducha-aiki, @shijianjian, @anguelos

solved issue using float64
  kornia/enhance/equalization.py
Owners: @lferraz, @edgarriba

pass the jit test
  kornia/enhance/equalization.py
Owners: @lferraz, @edgarriba

remove in-place op
  kornia/enhance/equalization.py
Owners: @lferraz, @edgarriba

Optimised clipping in clahe and some other minor optimisations (#1035)
  kornia/enhance/equalization.py
  test/enhance/test_equalization.py
Owners: @lferraz, @edgarriba, @ducha-aiki, @shijianjian, @anguelos

Optimised clipping in clahe and some other minor optimisations (#1035)
  kornia/enhance/equalization.py
  test/enhance/test_equalization.py
Owners: @lferraz, @edgarriba, @ducha-aiki, @shijianjian, @anguelos

Optimised clipping in clahe and some other minor optimisations (#1035)
  kornia/enhance/equalization.py
  test/enhance/test_equalization.py
Owners: @lferraz, @edgarriba, @ducha-aiki, @shijianjian, @anguelos

fix tests
  kornia/augmentation/augmentation.py
  test/geometry/transform/test_elastic_transform.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

release 0.5.3
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

fix to cuda device
  kornia/augmentation/augmentation.py
Owners: @shijianjian, @anguelos

Add advanced augmentations: RandomFisheye, RandomElasticTransform, RandomThinPlateSpline, RandomBloxBlur (#1015)
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/geometry/transform/elastic_transform.py
  test/augmentation/test_augmentation.py
  test/geometry/transform/test_elastic_transform.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Add advanced augmentations: RandomFisheye, RandomElasticTransform, RandomThinPlateSpline, RandomBloxBlur (#1015)
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/geometry/transform/elastic_transform.py
  test/augmentation/test_augmentation.py
  test/geometry/transform/test_elastic_transform.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

Add advanced augmentations: RandomFisheye, RandomElasticTransform, RandomThinPlateSpline, RandomBloxBlur (#1015)
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/geometry/transform/elastic_transform.py
  test/augmentation/test_augmentation.py
  test/geometry/transform/test_elastic_transform.py
Owners: @shijianjian, @anguelos, @edgarriba, @ducha-aiki, @lferraz

release 0.5.3 (#1036)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

release 0.5.3 (#1036)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

release 0.5.3 (#1036)
  CHANGELOG.md
  setup.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

define YAPF
  CONTRIBUTING.rst
  Makefile
  requirements-dev.txt
  setup.cfg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

yapf examples -rip
  examples/depth_regression/main.py
  examples/depth_warper/main.py
  examples/homography_regression/main.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

add swm to gitignore
  .gitignore
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

point tutorials to the new page
  docs/source/conf.py
  docs/source/index.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix morphology and phinx version
  docs/requirements.txt
  docs/source/conf.py
  docs/source/morphology.rst
Owners: @edgarriba, @shijianjian, @ducha-aiki

fix 4lint
  kornia/filters/kernels.py
  kornia/geometry/transform/pyramid.py
  kornia/geometry/transform/thin_plate_spline.py
  test/augmentation/test_augmentation.py
Owners: @edgarriba, @ducha-aiki, @lferraz, @shijianjian, @anguelos

mypy
  kornia/augmentation/augmentation3d.py
  kornia/augmentation/base.py
  kornia/augmentation/mix_augmentation.py
  kornia/feature/laf.py
  kornia/feature/scale_space_detector.py
Owners: @shijianjian, @anguelos, @ducha-aiki, @edgarriba

mypy
  kornia/augmentation/augmentation3d.py
  kornia/augmentation/base.py
  kornia/feature/scale_space_detector.py
Owners: @shijianjian, @anguelos, @ducha-aiki, @edgarriba

mypy
  kornia/feature/scale_space_detector.py
Owners: @ducha-aiki, @edgarriba

add precommit
  .pre-commit-config.yaml
  setup.cfg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

update contrib
  CONTRIBUTING.rst
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

req
  requirements-dev.txt
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

yapf
  .pre-commit-config.yaml
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

optimize imports - examples
  examples/depth_regression/main.py
  examples/depth_warper/main.py
  examples/homography_regression/main.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

optimize imports - tutorials
  tutorials/color_adjust.py
  tutorials/color_conversions.py
  tutorials/data_augmentation.py
  tutorials/filter_blurring.py
  tutorials/filter_edges.py
  tutorials/gaussian_blur.py
  tutorials/hello_world.py
  tutorials/total_variation_denoising.py
  tutorials/warp_affine.py
  tutorials/warp_perspective.py
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

prune CI formatting
  .github/workflows/format.yml
Owners: @edgarriba, @shijianjian

torch
  .github/workflows/format.yml
  setup.py
Owners: @edgarriba, @shijianjian

.
  Makefile
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

versions
  requirements-dev.txt
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

parallel
  Makefile
  kornia/augmentation/augmentation.py
  requirements-dev.txt
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos

color
  Makefile
  setup.cfg
Owners: @edgarriba, @ducha-aiki, @shijianjian, @lferraz, @anguelos
