Repository kornia/kornia, pull requests merged in 2021-06, with the labels that each got.

#1046 add pre-commit badge
  README.md
Labels: dependencies

#1047 Resize regardless of number of dims, considering the last two dims as image
  kornia/geometry/transform/affwarp.py
  kornia/utils/image.py
  test/geometry/transform/test_affine.py
Labels: enhancement, kornia::geometry

#1020 Add Canny edge detection
  docs/source/filters.rst
  kornia/__init__.py
  kornia/filters/__init__.py
  kornia/filters/canny.py
  kornia/filters/kernels.py
  test/filters/test_canny.py
Labels: feature request, high priority, kornia::filters

#1061 Added denormalize homography function
  docs/source/geometry.warp.rst
  kornia/geometry/transform/homography_warper.py
  test/geometry/transform/test_homography_warper.py
Labels: enhancement, high priority, kornia::geometry

#1014 [feat] Added more augmentations containers
  docs/source/augmentation.container.rst
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/augmentation/base.py
  kornia/augmentation/container/__init__.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/video.py
  kornia/constants.py
  kornia/geometry/linalg.py
  test/augmentation/test_container.py
  test/augmentation/test_perspective.py
Labels: feature request, high priority, kornia::augmentations

#1092 prune unused imports
  docs/source/conf.py
  kornia/augmentation/augmentation3d.py
  kornia/augmentation/base.py
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/color/hls.py
  kornia/color/lab.py
  kornia/contrib/max_blur_pool.py
  kornia/enhance/zca.py
  kornia/feature/affine_shape.py
  kornia/feature/nms.py
  kornia/feature/orientation.py
  kornia/feature/responses.py
  kornia/feature/scale_space_detector.py
  kornia/feature/tfeat.py
  kornia/filters/blur_pool.py
  kornia/filters/filter.py
  kornia/filters/laplacian.py
  kornia/filters/unsharp.py
  kornia/geometry/camera/perspective.py
  kornia/geometry/camera/pinhole.py
  kornia/geometry/conversions.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/warp/depth_warper.py
  kornia/geometry/warp/homography_warper.py
  kornia/losses/depth_smooth.py
  kornia/losses/dice.py
  kornia/losses/focal.py
  kornia/losses/ssim.py
  kornia/losses/tversky.py
  kornia/utils/draw.py
  kornia/utils/grid.py
  kornia/utils/image.py
  kornia/utils/memory.py
  test/feature/test_mkd.py
  test/integration/test_soft_argmax2d.py
  test/utils/test_memory.py
Labels: code heatlh, enhancement

#1067 [Enhance] Removed augmentation functional module.
  docs/source/augmentation.module.rst
  kornia/__init__.py
  kornia/augmentation/functional/__init__.py
  kornia/augmentation/functional/__temp__.py
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
  test/augmentation/test_functional.py
  test/augmentation/test_perspective.py
  test/augmentation/test_transformation_matrix.py
Labels: code heatlh, high priority, kornia::augmentations

#1084 Make Morphology compatible with both OpenCV and Scipy
  kornia/geometry/conversions.py
  kornia/morphology/morphology.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Labels: enhancement, high priority, kornia::morphology

#1094 hotfix for deprecation augmentation functionals
  Makefile
  test/augmentation/test_augmentation.py
  test/augmentation/test_augmentation_3d.py
Labels: bug, code heatlh

#1026 Undistort 2D points function
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Labels: feature request, high priority, kornia::geometry

#1096 release 0.5.4
  CHANGELOG.md
  setup.py
Labels: PR: Good to Merge

#1105 autogenerate image samples in the docs
  .gitignore
  Makefile
  docs/Makefile
  docs/generate_example_images.py
  kornia/augmentation/augmentation.py
Labels: docs, enhancement

#1116 remove numpy import
  .github/workflows/format.yml
  docs/generate_example_images.py
  kornia/testing/__init__.py
  setup.cfg
  test/geometry/transform/test_homography_warper.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Labels: bug, code heatlh, high priority

#1120 update ci with pytorch 1.9.0
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_cpu_versions.yml
  setup.py
Labels: code heatlh, enhancement, high priority

#1118 Change GaussianBlur to RandomGaussianBlur
  docs/source/augmentation.module.rst
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  test/augmentation/test_augmentation.py
Labels: PR: Good to Merge, bug, high priority, kornia::augmentations

#1112 [DOC] Added Chinese version README
  README.md
  README_zh-CN.md
  docs/source/_static/img/cn_community_qq.jpg
Labels: PR: Good to Merge, docs

#1127 add auto generated image in kornia.enhance
  docs/generate_example_images.py
  docs/source/enhance.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/patch.py
  kornia/enhance/adjust.py
  kornia/enhance/core.py
  kornia/enhance/equalization.py
  kornia/enhance/histogram.py
  kornia/enhance/normalize.py
  kornia/enhance/zca.py
Labels: docs, enhancement

#1128 add auto-image docs in kornia.morphology
  docs/generate_example_images.py
  kornia/morphology/morphology.py
Labels: docs, enhancement

#1129 Add auto-image docs in kornia.filters
  docs/.gitignore
  docs/generate_example_images.py
  docs/source/contrib.rst
  docs/source/filters.rst
  kornia/augmentation/container/augment.py
  kornia/contrib/extract_patches.py
  kornia/filters/blur.py
  kornia/filters/blur_pool.py
  kornia/filters/canny.py
  kornia/filters/filter.py
  kornia/filters/gaussian.py
  kornia/filters/kernels.py
  kornia/filters/laplacian.py
  kornia/filters/median.py
  kornia/filters/motion.py
  kornia/filters/sobel.py
  kornia/filters/unsharp.py
Labels: docs, enhancement, kornia::filters

#1130 fix assert_close in test_container
  test/augmentation/test_container.py
Labels: bug, kornia::augmentations

#1102 [Feat] Stereo camera class
  docs/source/geometry.camera.rst
  docs/source/geometry.camera.stereo.rst
  kornia/geometry/camera/__init__.py
  kornia/geometry/camera/stereo.py
  test/geometry/test_stereo.py
Labels: feature request, kornia::geometry, needs discussion

#1131 add auto-images in geometry transform module
  docs/generate_example_images.py
  docs/source/geometry.transform.rst
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  kornia/geometry/transform/elastic_transform.py
  kornia/geometry/transform/flips.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/geometry/transform/pyramid.py
  kornia/geometry/transform/thin_plate_spline.py
Labels: docs, enhancement, high priority, kornia::geometry

#987 add option for mean and std to be tuples
  kornia/augmentation/augmentation.py
  kornia/enhance/normalize.py
  test/augmentation/test_augmentation.py
  test/enhance/test_normalize.py
Labels: enhancement, high priority, kornia::enhance

#1103 Moving bbox-related functionality to bbox module
  docs/source/geometry.bbox.rst
  docs/source/geometry.rst
  docs/source/governance.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/mix_augmentation.py
  kornia/augmentation/random_generator/random_generator.py
  kornia/augmentation/random_generator/random_generator3d.py
  kornia/geometry/__init__.py
  kornia/geometry/bbox.py
  kornia/geometry/linalg.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/crop/crop3d.py
  test/augmentation/test_container.py
  test/geometry/test_bbox.py
  test/geometry/transform/crop/test_crop2d.py
  test/geometry/transform/crop/test_crop3d.py
Labels: enhancement, high priority, kornia::geometry

#1137 improve typing in docs
  docs/source/feature.rst
  docs/source/geometry.subpix.rst
  kornia/augmentation/augmentation3d.py
  kornia/augmentation/base.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/feature/affine_shape.py
  kornia/feature/hardnet.py
  kornia/feature/laf.py
  kornia/feature/matching.py
  kornia/feature/mkd.py
  kornia/feature/orientation.py
  kornia/feature/responses.py
  kornia/feature/scale_space_detector.py
  kornia/feature/siftdesc.py
  kornia/feature/sosnet.py
  kornia/feature/tfeat.py
  kornia/filters/canny.py
  kornia/geometry/calibration/undistort.py
  kornia/geometry/camera/perspective.py
  kornia/geometry/camera/pinhole.py
  kornia/geometry/camera/stereo.py
  kornia/geometry/conversions.py
  kornia/geometry/depth.py
  kornia/geometry/epipolar/essential.py
  kornia/geometry/epipolar/fundamental.py
  kornia/geometry/epipolar/metrics.py
  kornia/geometry/epipolar/numeric.py
  kornia/geometry/epipolar/projection.py
  kornia/geometry/epipolar/triangulation.py
  kornia/geometry/homography.py
  kornia/geometry/linalg.py
  kornia/geometry/subpix/dsnt.py
  kornia/geometry/subpix/spatial_soft_argmax.py
  kornia/losses/depth_smooth.py
  kornia/losses/dice.py
  kornia/losses/divergence.py
  kornia/losses/focal.py
  kornia/losses/psnr.py
  kornia/losses/ssim.py
  kornia/losses/total_variation.py
  kornia/losses/tversky.py
  kornia/utils/draw.py
  kornia/utils/grid.py
  kornia/utils/image.py
  kornia/utils/memory.py
  kornia/utils/metrics/confusion_matrix.py
  kornia/utils/metrics/mean_iou.py
  kornia/utils/one_hot.py
  kornia/utils/pointcloud_io.py
Labels: code heatlh, docs, enhancement
