Repository kornia/kornia, pull requests merged in 2021-05, with the labels that each got.

#998 Mask with unbatched motion from essential choose solution
  kornia/geometry/epipolar/essential.py
  setup.py
  test/geometry/epipolar/test_essential.py
Labels: enhancement, kornia::geometry

#1002 Fixed type error for lab_to_rgb conversion when using coremltools.
  kornia/color/lab.py
Labels: bug, kornia::color

#1005 update changelog for 0.5.2
  CHANGELOG.md
Labels: docs, high priority

#1018 Correct Sobel test_noncontiguous. Nothing was tested before.
  test/filters/test_sobel.py
Labels: PR: Good to Merge, enhancement, kornia::filters

#1023 switch cuda docker image to pytorch
  .github/workflows/tests_cuda.yml
  .github/workflows/tests_cuda_versions.yml
  README.md
Labels: enhancement

#1022 Fixing #795: find_homography_dlt_iterated sometimes fails
  test/geometry/test_homography.py
Labels: bug, kornia::geometry

#1013 [feat] Added inverse for augmentations.
  kornia/augmentation/augmentation.py
  kornia/augmentation/base.py
  kornia/augmentation/random_generator/random_generator.py
  test/augmentation/test_augmentation.py
  test/augmentation/test_perspective.py
  test/augmentation/test_random_generator.py
Labels: enhancement, high priority, kornia::augmentations

#1017 PoC: build multi-OS Python
  .github/workflows/pypi-release.yml
Labels: enhancement

#1034 Refactorization of the morphology package
  .gitignore
  kornia/morphology/__init__.py
  kornia/morphology/basic_operators.py
  kornia/morphology/morphology.py
  kornia/morphology/open_close.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_closing.py
  test/morphology/test_dilation.py
  test/morphology/test_erosion.py
  test/morphology/test_gradient.py
  test/morphology/test_opening.py
  test/morphology/test_top_hat.py
Labels: enhancement, high priority, kornia::morphology

#1035 Optimised clipping in clahe and some other minor optimisations
  kornia/enhance/equalization.py
  test/enhance/test_equalization.py
Labels: enhancement, high priority, kornia::enhance

#1015 Add advanced augmentations: RandomFisheye, RandomElasticTransform, RandomThinPlateSpline, RandomBloxBlur
  kornia/augmentation/.augmentation.py.swm
  kornia/augmentation/__init__.py
  kornia/augmentation/augmentation.py
  kornia/geometry/transform/elastic_transform.py
  test/augmentation/test_augmentation.py
  test/geometry/transform/test_elastic_transform.py
Labels: enhancement, high priority, kornia::augmentations

#1038 add precommit
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/questions-help-support.md
  .github/configurations/changelog-ci-config.json
  .github/pull-request-template.md
  .github/stale.yml
  .github/workflows/changelog.yml
  .github/workflows/format.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CITATION.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  Makefile
  README.md
  docs/.gitignore
  docs/source/_static/img/kornia_logo.svg
  docs/source/augmentation.base.rst
  docs/source/augmentation.rst
  docs/source/faqs.rst
  docs/source/feature.rst
  docs/source/geometry.conversions.rst
  docs/source/index.rst
  docs/source/introduction.rst
  docs/source/morphology.rst
  docs/source/references.bib
  examples/README.rst
  examples/depth_regression/readme.rst
  examples/depth_warper/readme.rst
  examples/homography_regression/readme.rst
  kornia/augmentation/README.md
  kornia/feature/orientation.py
  packaging/README.rst
  path.bash.inc
  requirements-dev.txt
  setup.cfg
  tutorials/README.rst
Labels: enhancement, high priority

#1043 prune CI formatting + parallel
  .github/workflows/format.yml
  Makefile
  kornia/augmentation/augmentation.py
  requirements-dev.txt
  setup.cfg
  setup.py
Labels: enhancement

#1048 fix running link/mypy only
  Makefile
Labels: bug

#1049 add precommit as GHA
  .github/workflows/format.yml
Labels: enhancement

#1042 fix morphology docs and sphinx version
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/morphology.rst
Labels: docs, enhancement, high priority
