Repository kornia/kornia, pull requests merged in 2021-03, with the labels that each got.

#892 upgrade ci workflow with pytorch 1.8
  .circleci/config.yml
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_cpu_versions.yml
  .github/workflows/tests_cuda.yml
  .github/workflows/tests_cuda_versions.yml
  kornia/geometry/conversions.py
  test/geometry/subpix/test_spatial_softargmax.py
  test/geometry/test_conversions.py
Labels: enhancement, high priority

#898 [Enhance] Reorganized geometry.warper package
  kornia/geometry/__init__.py
  kornia/geometry/depth.py
  kornia/geometry/transform/__init__.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/geometry/warp/depth_warper.py
  kornia/geometry/warp/homography_warper.py
  test/geometry/test_depth_warper.py
  test/geometry/transform/test_homography_warper.py
Labels: enhancement, high priority

#897 [Feat] Thin plate spline warping
  kornia/geometry/transform/__init__.py
  kornia/geometry/transform/thin_plate_spline.py
  test/geometry/transform/test_thin_plate_spline.py
Labels: enhancement, high priority, kornia::geometry

#905 Update docs with thin plate spline functions
  docs/source/geometry.transform.rst
Labels: docs

#904 Bug fix - Lab & Luv color conversion nans in gradient #900
  docs/source/color.rst
  kornia/color/__init__.py
  kornia/color/lab.py
  kornia/color/luv.py
  kornia/color/rgb.py
  test/color/test_lab.py
  test/color/test_luv.py
  test/color/test_rgb.py
Labels: bug, kornia::color

#899 [Fix] Fixes bug in fundamental_from_projections
  kornia/geometry/epipolar/fundamental.py
  test/geometry/epipolar/test_fundamental.py
Labels: bug, high priority, kornia::geometry

#906 Mark test_triangulation with xfail
  test/geometry/epipolar/test_triangulation.py
Labels: bug

#908 Mark test ssim with xfail
  test/test_losses.py
Labels: bug

#737 Simple draw rectangle implementation for feat #607 https://github.com…
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/draw.py
  test/utils/test_draw.py
Labels: PR: Good to Merge, high priority

#896 Fixes warp_affine and warp_perspective
  kornia/augmentation/augmentation.py
  kornia/augmentation/functional/functional.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/imgwarp.py
  test/augmentation/test_augmentation.py
  test/geometry/transform/crop/test_crop2d.py
  test/geometry/transform/test_imgwarp.py
Labels: bug, high priority, kornia::geometry

#895 Adds CLAHE equalization
  docs/source/enhance.rst
  kornia/enhance/__init__.py
  kornia/enhance/equalization.py
  kornia/utils/image.py
  test/enhance/test_equalization.py
Labels: PR: Good to Merge, high priority, kornia::enhance

#894 [Enhance] refactored max blur
  kornia/contrib/max_blur_pool.py
  kornia/filters/__init__.py
  kornia/filters/blur_pool.py
  kornia/filters/kernels.py
  kornia/geometry/transform/crop/crop2d.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/pyramid.py
  test/filters/test_blur_pool.py
Labels: PR: Good to Merge, enhancement, high priority, kornia::filters

#913 [Docs] Improve docs for geometry transform
  .github/workflows/tests_cuda_versions.yml
  docs/source/geometry.transform.rst
  kornia/enhance/equalization.py
  kornia/filters/blur_pool.py
  kornia/geometry/camera/perspective.py
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/geometry/transform/thin_plate_spline.py
  kornia/utils/draw.py
  test/enhance/test_core.py
Labels: docs, enhancement, high priority

#917 [Fix] Fixed RandomAffine translation range check
  kornia/augmentation/random_generator/random_generator.py
Labels: bug, enhancement, kornia::augmentations

#922 [Doc] Refined docs for augmentation and functional.
  docs/source/augmentation.module.rst
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
  kornia/augmentation/utils/__init__.py
  kornia/augmentation/utils/helpers.py
  kornia/enhance/adjust.py
  kornia/utils/image.py
Labels: docs
