Repository kornia/kornia, pull requests merged in 2021-07, with the labels that each got.

#1141 fix bbox module import in augmentations
  kornia/augmentation/augmentation.py
Labels: bug, kornia::augmentations

#1149 remove tutorials files
  tutorials/README.rst
  tutorials/color_adjust.py
  tutorials/color_conversions.py
  tutorials/data/arturito.jpeg
  tutorials/data/bennett_aden.png
  tutorials/data/bruce.png
  tutorials/data/doraemon.png
  tutorials/data/drslump.jpg
  tutorials/data/ninja_turtles.jpg
  tutorials/data/pinhole_model.png
  tutorials/data/simba.png
  tutorials/data_augmentation.py
  tutorials/filter_blurring.py
  tutorials/filter_edges.py
  tutorials/gaussian_blur.py
  tutorials/hello_world.py
  tutorials/total_variation_denoising.py
  tutorials/warp_affine.py
  tutorials/warp_perspective.py
Labels: code heatlh, docs

#1150 link tutorials to docstrings
  docs/source/references.bib
  kornia/augmentation/augmentation.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/color/gray.py
  kornia/color/hsv.py
  kornia/color/rgb.py
  kornia/enhance/adjust.py
  kornia/enhance/zca.py
  kornia/filters/blur.py
  kornia/filters/blur_pool.py
  kornia/filters/canny.py
  kornia/filters/gaussian.py
  kornia/filters/laplacian.py
  kornia/filters/median.py
  kornia/filters/sobel.py
  kornia/filters/unsharp.py
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/imgwarp.py
  kornia/losses/total_variation.py
  kornia/morphology/morphology.py
Labels: docs, enhancement

#1154 optimized version of hls_to_rgb() and rgb_to_hls()
  kornia/color/hls.py
  test/color/test_hls.py
Labels: enhancement, kornia::color

#1113 Supporting arbitrary number of leading dimensions
  kornia/enhance/adjust.py
  kornia/enhance/core.py
  kornia/enhance/equalization.py
  kornia/enhance/normalize.py
  kornia/geometry/transform/affwarp.py
  kornia/utils/image.py
  test/enhance/test_adjust.py
  test/enhance/test_equalization.py
Labels: code heatlh, enhancement, high priority
