Repository kornia/kornia, pull requests merged in 2021-10, with the labels that each got.

#1338 :grin: organize kornia.geometry.transforms docs
  docs/source/geometry.conversions.rst
Labels: docs

#1335 :triangular_flag_on_post: Add vanilla LO-RANSAC
  docs/source/geometry.ransac.rst
  docs/source/geometry.rst
  kornia/geometry/__init__.py
  kornia/geometry/epipolar/fundamental.py
  kornia/geometry/ransac.py
  test/geometry/test_ransac.py
Labels: enhancement, kornia::geometry

#1329 :lady_beetle: Fix rgb_to_hsv for onnx
  kornia/color/hsv.py
  test/color/test_hsv.py
Labels: bug, high priority, kornia::color, kornia::onnx

#1342 DOCS - added ranges in docs for output of rgb_to_lab function
  kornia/color/lab.py
Labels: docs, high priority

#1352 fixed useless return in ransac.py
  kornia/geometry/ransac.py
Labels: code heatlh, Hacktoberfest, hacktoberfest-accepted

#1354 Fixed classificationhead typo
  docs/source/index.rst
  docs/source/models/vit.rst
Labels: docs

#1356 :construction_worker: Fix clahe differentiability and tests
  kornia/enhance/equalization.py
  test/enhance/test_equalization.py
Labels: bug, kornia::enhance
