Repository kornia/kornia, pull requests merged in 2021-11, with the labels that each got.

#1439 Add `padding_mode` for RandomElasticTransform augmentation
  kornia/augmentation/augmentation.py
  kornia/geometry/transform/elastic_transform.py
Labels: enhancement :rocket:, module: augmentations

#1443 Added container operation weights and OneOf documentation
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/patch.py
  kornia/augmentation/container/video.py
  test/augmentation/test_container.py
Labels: PR: Good to Merge :ok_hand:

#1453 Adds oriented contraint check to Homography RANSAC
  docs/source/references.bib
  kornia/geometry/homography.py
  kornia/geometry/ransac.py
  test/geometry/test_homography.py
  test/geometry/test_ransac.py
Labels: PR: Good to Merge :ok_hand:, module: geometry

#1452 Add background color selection in ``warp_perspective``
  kornia/geometry/transform/imgwarp.py
  test/geometry/transform/test_imgwarp.py
Labels: enhancement :rocket:, module: geometry

#1451 Not to globally set warning filter at import time
  kornia/filters/__tmp__.py
Labels: code heatlh :pill:

#1457 Typo fix in ``kl_div_loss_2d`` docstring
  kornia/losses/divergence.py
Labels: docs :books:

#1456 Add ``draw_line`` image utility
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/draw.py
  test/utils/test_draw.py
Labels: feature request, PR: Good to Merge :ok_hand:, module: utils

#1304 Add boxes V2 as discussed in #1142 (superseed #1177)
  docs/source/geometry.boxes.rst
  docs/source/geometry.rst
  kornia/geometry/boxes.py
  test/geometry/test_boxes.py
Labels: enhancement :rocket:, P1 🚨, module: geometry

#1462 Minor update to `spatial_gradient3d` docs
  kornia/filters/sobel.py
Labels: docs :books:

#1395 Add ``histogram_matching`` functionality
  kornia/contrib/__init__.py
  kornia/contrib/histogram_matching.py
  test/test_contrib.py
Labels: feature request, PR: Good to Merge :ok_hand:, P2 😅, module: enhance

#1438 Merge ``homography_warp`` to ``warp_perspective``
  docs/source/geometry.conversions.rst
  docs/source/geometry.transform.rst
  kornia/geometry/conversions.py
  kornia/geometry/transform/__init__.py
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/crop3d.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  test/geometry/transform/test_homography_warper.py
  test/geometry/transform/test_image_registrator.py
  test/geometry/transform/test_imgwarp.py
  test/geometry/transform/test_imgwarp3d.py
  test/utils/test_grid.py
Labels: enhancement :rocket:, module: geometry

#1463 Expose inliers sum to HomographyTracker
  kornia/tracking/planar_tracker.py
Labels: enhancement :rocket:, module: tracking

#1467 Fix for nested AugmentationSequential containers
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/utils.py
  test/augmentation/test_container.py
Labels: enhancement :rocket:, module: augmentations

#1464 Fix ``undistort_image`` documentation and support additional dimensions.
  kornia/geometry/calibration/undistort.py
  test/geometry/calibration/test_undistort.py
Labels: enhancement :rocket:, PR: Good to Merge :ok_hand:, module: geometry

#1469 add face detection API
  docs/source/applications/face_detection.rst
  docs/source/applications/video_deblur.rst
  docs/source/contrib.rst
  docs/source/geometry.bbox.rst
  docs/source/geometry.boxes.rst
  docs/source/index.rst
  docs/source/models/yunet.rst
  docs/source/references.bib
  examples/face_detection/main.py
  examples/face_detection/main_video.py
  examples/face_detection/requirements.txt
  kornia/color/raw.py
  kornia/contrib/__init__.py
  kornia/contrib/face_detection.py
  kornia/geometry/bbox.py
  test/geometry/test_bbox.py
  test/test_contrib.py
Labels: feature request, module: contrib

#1475 some fixes with face_detection docs
  docs/source/applications/face_detection.rst
  docs/source/models/yunet.rst
  examples/face_detection/main.py
Labels: docs :books:
