Repository kornia/kornia, pull requests merged in 2021-04, with the labels that each got.

#919 Added dtype for create_mesh
  kornia/utils/grid.py
  test/utils/test_grid.py
Labels: enhancement, high priority, kornia::geometry

#943 Deprecate some augmentation functionals
  kornia/augmentation/augmentation.py
  kornia/augmentation/functional/functional.py
  kornia/augmentation/functional/functional3d.py
  test/augmentation/test_augmentation.py
  test/augmentation/test_augmentation_3d.py
Labels: PR: Good to Merge, enhancement

#924 Fixed the issue of NaN gradients by adding epsilon in focal loss
  kornia/losses/focal.py
Labels: PR: Good to Merge, bug

#958 fix hardnet8 jit and mypy issues
  kornia/feature/hardnet.py
Labels: bug

#952 fix morphology open_close docs
  kornia/morphology/open_close.py
Labels: PR: Good to Merge, docs

#921 added normalize boolean for remap
  kornia/geometry/transform/imgwarp.py
  test/geometry/transform/test_imgwarp.py
Labels: PR: Good to Merge, enhancement, high priority, kornia::geometry

#944 Added custom weights option for rgb2gray
  kornia/color/gray.py
  test/color/test_gray.py
Labels: PR: Good to Merge, high priority, kornia::color

#970 [morphology] change min to amin
  kornia/morphology/basic_operators.py
Labels: PR: Good to Merge, enhancement, high priority, kornia::morphology

#975 Improve cuda ci workflow speed
  .github/workflows/tests_cuda.yml
  .github/workflows/tests_cuda_versions.yml
Labels: PR: Good to Merge, enhancement, high priority

#977 revert torch.amin to torch.min
  kornia/morphology/basic_operators.py
Labels: bug, high priority, kornia::morphology

#963 Add fp16 support
  kornia/enhance/adjust.py
  kornia/enhance/equalization.py
  kornia/enhance/zca.py
  kornia/geometry/transform/homography_warper.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/projwarp.py
  kornia/utils/helpers.py
  test/augmentation/test_augmentation.py
  test/feature/test_mkd.py
  test/geometry/transform/test_homography_warper.py
  test/geometry/transform/test_pyramid.py
  test/utils/test_helpers.py
Labels: enhancement, high priority, kornia::augmentations

#979 fix mypy error with np.ndarray
  kornia/utils/image.py
Labels: bug, high priority

#967 Implement fast version of crop function in augmentations
  kornia/augmentation/augmentation.py
  test/augmentation/test_augmentation.py
Labels: enhancement, high priority, kornia::augmentations

#978 Adds ImageToTensor module and resize for non-batched images
  kornia/geometry/transform/affwarp.py
  kornia/utils/__init__.py
  kornia/utils/image.py
  test/geometry/transform/test_affine.py
  test/utils/test_image.py
Labels: enhancement, high priority, kornia::utils

#981 Implement missing jit ops in kornia.geometry.transform
  kornia/geometry/camera/perspective.py
  kornia/geometry/conversions.py
  test/geometry/test_conversions.py
  test/geometry/test_linalg.py
  test/geometry/test_perspective.py
Labels: enhancement, high priority, kornia::geometry, medium priority
