Repository kornia/kornia, pull requests merged in 2022-09, with the labels that each got.

#1848 Binary focal loss: Use pre-computed probs and increase readability
  kornia/losses/focal.py
Labels: enhancement :rocket:, module: losses

#1865 add concurrency cancel-in-progress in cpu workflow
  .github/workflows/tests_cpu.yml
Labels: enhancement :rocket:, CI :gear:

#1876 edge detection demo
  docs/source/filters.rst
  docs/source/gradio/edge_filter_gradio.html
Labels: docs :books:

#1874 Added Hugging Face edge detection demo link
  docs/source/gradio/edge_detector_gradio.html
  docs/source/gradio/morphological_operators.html
Labels: docs :books:

#1886 I added html file for module Line Fitting
  docs/source/geometry.line.rst
  docs/source/gradio/line_fitting.html
Labels: docs :books:

#1885 Update setup to declarative metadata
  .devcontainer/Dockerfile
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/test_typing.yml
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_cuda.yml
  .github/workflows/tests_lts.yml
  .github/workflows/tests_nightly.yml
  .pre-commit-config.yaml
  docs/requirements.txt
  kornia/__init__.py
  kornia/_version.py
  pytest.ini
  readthedocs.yml
  requirements/dev.txt
  requirements/x.txt
  setup.cfg
  setup.py
  setup_dev_env.sh
Labels: CI :gear:

#1760 Add device query to Pinhole class
  kornia/geometry/camera/pinhole.py
  kornia/testing/__init__.py
  test/geometry/camera/test_pinhole.py
Labels: enhancement :rocket:, module: geometry
