Repository kornia/kornia, pull requests merged in 2022-03, with the labels that each got.

#1558 [Fix] CombineTensorPatches
  kornia/contrib/extract_patches.py
  test/test_contrib.py
Labels: bug :bug:, module: contrib

#1603 Update `combine_tensor_patches`
  kornia/contrib/extract_patches.py
  test/test_contrib.py
Labels: enhancement :rocket:, module: contrib

#1610 Simplify padding in `extract_patches`
  kornia/contrib/extract_patches.py
  test/test_contrib.py
Labels: enhancement :rocket:, module: contrib

#1609 Update batch shape when augmentations change size of image
  kornia/augmentation/_2d/geometric/resize.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/video.py
  kornia/augmentation/random_generator/_2d/crop.py
  kornia/augmentation/random_generator/_2d/resize.py
  test/augmentation/test_random_generator.py
Labels: bug :bug:, module: augmentations

#1614 Remove Re-definition found for builtin function - Update tests
  test/test_contrib.py
  test/test_metrics.py
Labels: code heatlh :pill:

#1617 `remap` accepts arbitrary grid size
  kornia/geometry/transform/imgwarp.py
  kornia/testing/__init__.py
  test/geometry/transform/test_imgwarp.py
Labels: bug :bug:, P1 🚨, module: geometry

#1616 remove half log2 in `extract_patches`
  kornia/feature/laf.py
  test/feature/test_integrated.py
Labels: enhancement :rocket:, P1 🚨, module: feature

#1592 add option for `sampling_method` in 2d perspective transform generation (#1591)
  kornia/augmentation/_2d/geometric/perspective.py
  kornia/augmentation/random_generator/_2d/perspective.py
  test/augmentation/test_perspective_rand.py
  test/augmentation/test_random_generator.py
Labels: feature request, P1 🚨, module: augmentations

#1607 Add `RandomPlanckianJitter` in color augmentations
  docs/generate_example_images.py
  docs/source/augmentation.module.rst
  docs/source/references.bib
  kornia/augmentation/_2d/intensity/__init__.py
  kornia/augmentation/_2d/intensity/planckian_jitter.py
  kornia/augmentation/__init__.py
  kornia/augmentation/random_generator/_2d/__init__.py
  kornia/augmentation/random_generator/_2d/planckian_jitter.py
  test/augmentation/test_augmentation.py
Labels: enhancement :rocket:, P1 🚨, module: augmentations

#1586 fix adjust brightness
  docs/source/enhance.rst
  kornia/enhance/__init__.py
  kornia/enhance/adjust.py
  kornia/testing/__init__.py
  test/enhance/test_adjust.py
Labels: enhancement :rocket:, P1 🚨, module: enhance

#1636 Add `draw_convex_polygon`
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/draw.py
  test/utils/test_draw.py
Labels: feature request, module: utils

#1640 Fixed a typo in undistort_points docstring
  kornia/geometry/calibration/undistort.py
Labels: docs :books:

#1634 Add fn to automatically compute padding
  docs/source/contrib.rst
  kornia/contrib/__init__.py
  kornia/contrib/extract_patches.py
  test/test_contrib.py
Labels: module: utils

#1644 add sections to augmentations docs
  docs/source/augmentation.module.rst
  docs/source/augmentation.rst
  kornia/augmentation/_2d/intensity/planckian_jitter.py
Labels: docs :books:

#1642 fix device and dtype in draw poly tests
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/draw.py
  test/utils/test_draw.py
Labels: bug :bug:, P1 🚨, module: utils

#1643 release 0.6.4
  CHANGELOG.md
  kornia/_version.py
Labels: P1 🚨

#1656 making epipolar metrics work with volumetric tensors
  kornia/geometry/epipolar/_metrics.py
  test/geometry/epipolar/test_epipolar_metrics.py
Labels: enhancement :rocket:, module: geometry

#1658 add spaces to warnings.warn output
  kornia/feature/affine_shape.py
Labels: docs :books:

#1657 mypy-fix for ExtractTensorPatches & CombineTensorPatches
  kornia/contrib/extract_patches.py
Labels: enhancement :rocket:, module: contrib

#1662 add get_safe_device util
  docs/source/utils.rst
  kornia/utils/__init__.py
  kornia/utils/helpers.py
Labels: feature request, module: utils

#1661 Fixes `filter2d`'s output shape shrink when `padding='same'`
  kornia/filters/filter.py
  test/filters/test_filters.py
Labels: module: filters

#1665 fix: added eps in geometry/rotmat_to_quaternion
  kornia/geometry/conversions.py
Labels: bug :bug:, module: geometry

#1669 Fix docs of `pol2cart` and `cart2pol`
  kornia/geometry/conversions.py
Labels: docs :books:
