Repository kornia/kornia, pull requests merged in 2022-06, with the labels that each got.

#1729 Implement `project` and `unproject` in `PinholeCamera`
  .gitignore
  kornia/geometry/camera/pinhole.py
  test/geometry/camera/test_pinhole.py
Labels: enhancement :rocket:, PR: Good to Merge :ok_hand:, module: geometry

#1740 Fix Boxes.from_tensor(boxes, mode="vertices")
  kornia/geometry/boxes.py
  test/geometry/test_boxes.py
Labels: bug :bug:, module: geometry

#1734 adding `rgb_to_y`
  kornia/color/__init__.py
  kornia/color/ycbcr.py
  test/color/test_ycbcr.py
Labels: enhancement :rocket:, module: color
