Repository kornia/kornia, pull requests merged in 2022-10, with the labels that each got.

#1435 RANSAC improvements
  kornia/enhance/zca.py
  kornia/geometry/calibration/pnp.py
  kornia/geometry/epipolar/essential.py
  kornia/geometry/epipolar/fundamental.py
  kornia/geometry/epipolar/projection.py
  kornia/geometry/epipolar/triangulation.py
  kornia/geometry/homography.py
  kornia/geometry/line.py
  kornia/geometry/ransac.py
  kornia/utils/helpers.py
  test/geometry/epipolar/test_fundamental.py
  test/geometry/test_homography.py
  test/geometry/test_ransac.py
  test/utils/test_helpers.py
Labels: 3 Priority 3 :palm_tree:

#1935 Quaternion.norm bug fix
  kornia/geometry/quaternion.py
  test/geometry/test_quaternion.py
Labels: module: geometry

#1483 Add `EdgeDetection` api
  conftest.py
  docs/source/contrib.rst
  docs/source/filters.rst
  docs/source/index.rst
  docs/source/models/dexined.rst
  docs/source/references.bib
  examples/edge_detection/main.py
  examples/edge_detection/main_video.py
  examples/edge_detection/requirements.txt
  kornia/contrib/__init__.py
  kornia/contrib/edge_detection.py
  kornia/filters/__init__.py
  kornia/filters/dexined.py
  test/filters/test_filters.py
  test/test_contrib.py
Labels: feature request, 1 Priority 1 🚨, module: contrib

#1816 add laplacian pyramid
  docs/generate_example_images.py
  docs/source/geometry.transform.rst
  docs/source/references.bib
  kornia/geometry/transform/pyramid.py
  test/geometry/transform/test_pyramid.py
Labels: feature request, module: geometry

#1933 Remove unnecessary CI jobs
  .github/workflows/format.yml
  Makefile
Labels: CI :gear:

#1947 Add sepia
  docs/source/color.rst
  kornia/color/__init__.py
  kornia/color/sepia.py
  test/color/test_sepia.py
Labels: module: color

#1963 Add `Hyperplane` and `Ray` API
  docs/source/geometry.linalg.rst
  kornia/geometry/linalg.py
  kornia/geometry/line.py
  kornia/geometry/plane.py
  kornia/geometry/ray.py
  kornia/geometry/vector.py
  kornia/testing/__init__.py
  test/geometry/test_line.py
  test/geometry/test_plane.py
Labels: feature request, module: geometry
