Repository kornia/kornia, pull requests merged in 2022-11, with the labels that each got.

#1984 Remove unnecessary configs
  setup.cfg
Labels: enhancement :rocket:, CI :gear:

#1983 Remove `mypy` from running on tests
  .github/workflows/test_typing.yml
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_lts.yml
  .github/workflows/tests_nightly.yml
  Makefile
  setup.cfg
Labels: CI :gear:

#1994 add quaternion to euler conversion
  docs/source/geometry.conversions.rst
  kornia/geometry/conversions.py
  kornia/geometry/quaternion.py
  test/geometry/test_conversions.py
Labels: feature request, module: geometry

#1999 Update google analytics is for G4 property
  docs/source/conf.py
Labels: docs :books:

#2000 implement `kornia.geometry.linalg.euclidean_distance`
  docs/source/geometry.linalg.rst
  kornia/geometry/linalg.py
  test/geometry/test_linalg.py
Labels: feature request, module: geometry

#1997 quaternion, so3 and se3 as non batched
  kornia/core/__init__.py
  kornia/core/_backend.py
  kornia/geometry/liegroup/se3.py
  kornia/geometry/liegroup/so3.py
  kornia/geometry/quaternion.py
  test/geometry/liegroup/test_se3.py
  test/geometry/liegroup/test_so3.py
  test/geometry/test_quaternion.py
Labels: enhancement :rocket:, module: geometry

#1998 Remove unused `type: ignore`
  kornia/augmentation/_2d/geometric/crop.py
  kornia/augmentation/_2d/mix/base.py
  kornia/augmentation/_2d/mix/cutmix.py
  kornia/augmentation/_3d/geometric/crop.py
  kornia/augmentation/base.py
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/image.py
  kornia/augmentation/container/utils.py
  kornia/augmentation/container/video.py
  kornia/augmentation/random_generator/_2d/affine.py
  kornia/augmentation/random_generator/_2d/color_jiggle.py
  kornia/augmentation/random_generator/_2d/color_jitter.py
  kornia/augmentation/random_generator/_2d/crop.py
  kornia/augmentation/random_generator/_2d/motion_blur.py
  kornia/augmentation/random_generator/_2d/perspective.py
  kornia/augmentation/random_generator/_2d/plain_uniform.py
  kornia/augmentation/random_generator/_2d/posterize.py
  kornia/augmentation/random_generator/_2d/probability.py
  kornia/augmentation/random_generator/_2d/rectangle_earase.py
  kornia/augmentation/random_generator/_3d/crop.py
  kornia/augmentation/random_generator/_3d/motion_blur.py
  kornia/augmentation/random_generator/_3d/perspective.py
  kornia/augmentation/random_generator/_3d/rotation.py
  kornia/augmentation/random_generator/base.py
  kornia/augmentation/utils/helpers.py
  kornia/constants.py
  kornia/contrib/extract_patches.py
  kornia/enhance/core.py
  kornia/enhance/zca.py
  kornia/feature/scale_space_detector.py
  kornia/feature/siftdesc.py
  kornia/filters/sobel.py
  kornia/geometry/camera/stereo.py
  kornia/geometry/conversions.py
  kornia/geometry/depth.py
  kornia/geometry/line.py
  kornia/geometry/ransac.py
  kornia/geometry/subpix/nms.py
  kornia/geometry/subpix/spatial_soft_argmax.py
  kornia/geometry/transform/crop2d.py
  kornia/geometry/transform/flips.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/pyramid.py
  kornia/io/io.py
  kornia/nerf/camera_utils.py
  kornia/nerf/data_utils.py
  kornia/nerf/nerf_solver.py
  kornia/testing/__init__.py
  kornia/utils/helpers.py
  setup.cfg
Labels: code heatlh :pill:

#1973 [feat] liegroup so2
  docs/source/geometry.liegroup.rst
  kornia/core/__init__.py
  kornia/core/_backend.py
  kornia/geometry/liegroup/__init__.py
  kornia/geometry/liegroup/so2.py
  test/geometry/liegroup/test_so2.py
Labels: feature request, PR: Good to Merge :ok_hand:, module: geometry

#2001 add rotation and translation classmethods in se3 and so3
  kornia/geometry/liegroup/se3.py
  kornia/geometry/liegroup/so3.py
  kornia/geometry/quaternion.py
  test/geometry/liegroup/test_se3.py
  test/geometry/liegroup/test_so3.py
Labels: enhancement :rocket:, PR: Good to Merge :ok_hand:, module: geometry

#2007 [feat] implement adjoint for liegroups
  kornia/geometry/liegroup/se3.py
  kornia/geometry/liegroup/so3.py
  test/geometry/liegroup/test_se3.py
  test/geometry/liegroup/test_so3.py
Labels: feature request, module: geometry

#2015 So2 bug fix
  kornia/geometry/liegroup/so2.py
  test/geometry/liegroup/test_so2.py
Labels: bug :bug:, module: geometry

#2009 Add reusable workflow to env setup and update CI's
  .github/actions/env/action.yml
  .github/emoji.yml
  .github/workflows/add_emoji.yml
  .github/workflows/pr_test_cpu.yml
  .github/workflows/pr_test_typing.yml
  .github/workflows/scheduled_test_cpu.yml
  .github/workflows/scheduled_test_typing.yml
  .github/workflows/test_typing.yml
  .github/workflows/tests_cpu.yml
  .github/workflows/tests_lts.yml
  .github/workflows/tests_nightly.yml
  Makefile
  kornia/enhance/core.py
  setup.cfg
Labels: enhancement :rocket:, CI :gear:

#2022 Remove redudant casts
  kornia/augmentation/_2d/geometric/base.py
  kornia/augmentation/_2d/geometric/crop.py
  kornia/augmentation/_2d/geometric/fisheye.py
  kornia/augmentation/_2d/geometric/perspective.py
  kornia/augmentation/_2d/geometric/resize.py
  kornia/augmentation/_2d/geometric/resized_crop.py
  kornia/augmentation/_2d/geometric/rotation.py
  kornia/augmentation/_2d/intensity/brightness.py
  kornia/augmentation/_2d/intensity/color_jiggle.py
  kornia/augmentation/_2d/intensity/color_jitter.py
  kornia/augmentation/_2d/intensity/contrast.py
  kornia/augmentation/_2d/intensity/erasing.py
  kornia/augmentation/_2d/intensity/gamma.py
  kornia/augmentation/_2d/intensity/hue.py
  kornia/augmentation/_2d/intensity/planckian_jitter.py
  kornia/augmentation/_2d/intensity/plasma.py
  kornia/augmentation/_2d/intensity/posterize.py
  kornia/augmentation/_2d/intensity/random_rgb_shift.py
  kornia/augmentation/_2d/intensity/saturation.py
  kornia/augmentation/_2d/intensity/sharpness.py
  kornia/augmentation/_2d/intensity/solarize.py
  kornia/augmentation/_2d/mix/jigsaw.py
  kornia/augmentation/_2d/mix/mixup.py
  kornia/augmentation/_2d/mix/mosaic.py
  kornia/augmentation/_3d/geometric/affine.py
  kornia/augmentation/_3d/geometric/crop.py
  kornia/augmentation/_3d/geometric/perspective.py
  kornia/augmentation/_3d/geometric/rotation.py
  kornia/augmentation/_3d/intensity/motion_blur.py
  kornia/augmentation/random_generator/_2d/affine.py
  kornia/augmentation/utils/helpers.py
  kornia/filters/kernels_geometry.py
  setup.cfg
Labels: code heatlh :pill:

#2024 Drop pytorch 1.8 (LTS) support
  kornia/contrib/vit_mobile.py
  kornia/feature/sold2/sold2.py
  kornia/nerf/data_utils.py
  kornia/testing/__init__.py
  kornia/utils/helpers.py
  setup.cfg
Labels: code heatlh :pill:

#2029 so2 tests update and cleanup
  kornia/geometry/liegroup/_utils.py
  kornia/geometry/liegroup/so2.py
  test/geometry/liegroup/test_so2.py
Labels: module: geometry

#2026 Fix PR action trigger
  .github/workflows/pr_test_cpu.yml
  .github/workflows/pr_test_typing.yml
Labels: CI :gear:

#1986 Set equal_nan to False in assert_close
  kornia/testing/__init__.py
  test/losses/test_losses.py
Labels: code heatlh :pill:

#2032 drop flake8 dependency
  Makefile
  setup.cfg
Labels: CI :gear:

#2041 add random for liegroups
  kornia/geometry/liegroup/se3.py
  kornia/geometry/liegroup/so2.py
  kornia/geometry/liegroup/so3.py
  test/geometry/liegroup/test_se3.py
  test/geometry/liegroup/test_so2.py
  test/geometry/liegroup/test_so3.py
Labels: enhancement :rocket:, module: geometry

#2035 Add/ensure support for pytorch 1.13.0
  .github/workflows/pr_test_cpu.yml
  .github/workflows/pr_test_typing.yml
  test/utils/test_helpers.py
Labels: code heatlh :pill:, CI :gear:
