Repository kornia/kornia, pull requests merged in 2022-07, with the labels that each got.

#1762 Add rgb_to_y to __all__
  kornia/color/__init__.py
Labels: docs :books:

#1761 Fix bug preventing sample wise augmentations
  kornia/augmentation/container/utils.py
Labels: bug :bug:, module: augmentations

#1771 update pytorch ci matrix 1.10.2 and 1.11.0
  .github/workflows/tests_cpu.yml
  kornia/enhance/zca.py
Labels: CI :gear:

#1774 docs: Fix a few typos
  docs/generate_example_images.py
  kornia/metrics/mean_iou.py
  kornia/utils/draw.py
Labels: docs :books:

#1767 Refactor and add tests in `get_perspective_transform`
  .github/workflows/format.yml
  conftest.py
  kornia/core/__init__.py
  kornia/core/_backend.py
  kornia/enhance/adjust.py
  kornia/geometry/transform/imgwarp.py
  kornia/geometry/transform/thin_plate_spline.py
  kornia/testing/__init__.py
  kornia/utils/_compat.py
  kornia/utils/helpers.py
  test/augmentation/test_augmentation.py
  test/benchmark.py
  test/feature/test_affine_shape_estimator.py
  test/geometry/transform/test_imgwarp.py
  test/utils/test_helpers.py
Labels: enhancement :rocket:, module: geometry

#1780 update libfacedetection url path
  kornia/contrib/face_detection.py
Labels: bug :bug:, module: contrib

#1787 deploy docs to gh-pages
  .github/workflows/docs.yml
Labels: docs :books:

#1790 Add `sphinxcontrib.gtagjs` to track docs
  docs/requirements.txt
  docs/source/conf.py
Labels: docs :books:

#1793 Add an interactive demo to the kornia.enhance docs
  docs/source/enhance.rst
  docs/source/gradio/enhance_gradio.html
Labels: docs :books:

#1797 add link to interactive augmentations demo
  docs/source/augmentation.rst
Labels: docs :books:
