Repository kornia/kornia, pull requests merged in 2023-03, with the labels that each got.

#2242 Add bilateral filter
  docs/generate_example_images.py
  docs/source/filters.rst
  kornia/filters/__init__.py
  kornia/filters/bilateral.py
  test/filters/test_bilateral.py
Labels: feature request, module: filters, nightly

#2253 Drop JIT support for `geometry.subpix`
  kornia/geometry/subpix/__init__.py
  kornia/geometry/subpix/dsnt.py
  kornia/geometry/subpix/nms.py
  kornia/geometry/subpix/spatial_soft_argmax.py
  kornia/testing/__init__.py
  test/geometry/subpix/test_dsnt.py
  test/geometry/subpix/test_spatial_softargmax.py
Labels: enhancement :rocket:, module: geometry, nightly

#2251 small cleanup on root files
  .gitconfig
  temp.onnx
Labels: code heatlh :pill:

#2249 Add Joint Bilateral Filter
  docs/generate_example_images.py
  docs/source/filters.rst
  kornia/filters/__init__.py
  kornia/filters/bilateral.py
  test/filters/test_bilateral.py
Labels: feature request, module: filters, nightly

#2255 Remove Re-definition found for builtin input function - Update tests
  test/augmentation/test_augmentation_3d.py
  test/enhance/test_equalization.py
  test/enhance/test_histogram.py
  test/feature/test_loftr.py
  test/filters/test_filters.py
  test/filters/test_gaussian.py
  test/filters/test_laplacian.py
  test/filters/test_motion.py
  test/filters/test_unsharp_mask.py
  test/geometry/subpix/test_spatial_softargmax.py
  test/geometry/transform/test_imgwarp.py
  test/geometry/transform/test_imgwarp3d.py
  test/geometry/transform/test_pyramid.py
  test/grad_estimator/test_ste.py
  test/morphology/test_bottom_hat.py
  test/morphology/test_top_hat.py
Labels: code heatlh :pill:, nightly

#2259 Remove typecheck for 2D kernel size on filters
  kornia/filters/kernels.py
  test/filters/test_blur.py
Labels: module: filters, code heatlh :pill:

#2273 Add warnings as error on documentation build
  .github/workflows/docs.yml
  docs/source/conf.py
  kornia/feature/laf.py
  kornia/filters/kernels.py
Labels: docs :books:

#2285 [WIP] Integrating DISK
  .flake8
  conftest.py
  docs/generate_example_images.py
  docs/source/feature.rst
  docs/source/references.bib
  kornia/feature/__init__.py
  kornia/feature/disk/__init__.py
  kornia/feature/disk/_unets/__init__.py
  kornia/feature/disk/_unets/blocks.py
  kornia/feature/disk/_unets/unet.py
  kornia/feature/disk/detector.py
  kornia/feature/disk/disk.py
  kornia/feature/disk/structs.py
  kornia/feature/integrated.py
  kornia/feature/keynet.py
  kornia/feature/responses.py
  requirements/requirements-docs.txt
  test/feature/test_disk.py
Labels: feature request, module: feature

#2291 Remove print contrast
  kornia/enhance/adjust.py
Labels: enhancement :rocket:, module: enhance
