Repository kornia/kornia, pull requests merged in 2023-07, with the labels that each got.

#2424 drop JIT support from `geometry.conversions`
  kornia/geometry/conversions.py
  test/geometry/test_conversions.py
Labels: module: geometry, code heatlh :pill:

#1562 Add Image API
  docs/source/core.rst
  docs/source/image.rst
  docs/source/index.rst
  docs/source/io.rst
  kornia/color/gray.py
  kornia/core/__init__.py
  kornia/core/_backend.py
  kornia/image/__init__.py
  kornia/image/base.py
  kornia/image/image.py
  kornia/io/__init__.py
  kornia/io/io.py
  test/image/test_image.py
  test/io/test_io_image.py
  test/io/test_load_image.py
  test/utils/test_image_utils.py
Labels: feature request, 1 Priority 1 🚨, module: core

#2479 Fix `KORNIA_CHECK_SAME_DEVICE` cuda test
  test/core/test_check.py
Labels: code heatlh :pill:, module: core

#2369 [CI] bump pytorch to 2.0.1
  .github/actions_info.md
  .github/workflows/pr_test_cpu.yml
  .github/workflows/scheduled_test_cpu.yml
  .github/workflows/scheduled_test_cpu_half.yml
  .github/workflows/test_tutorials.yml
  .github/workflows/test_typing.yml
  .github/workflows/tests.yml
  requirements/requirements-dev.txt
  test/augmentation/test_augmentation.py
  test/color/test_gray.py
  test/filters/test_canny.py
  test/geometry/transform/test_imgwarp.py
Labels: dependencies, CI :gear:, nightly

#2483 Fix typo SAM docs
  docs/source/models/segment_anything.rst
Labels: docs :books:
