Repository kornia/kornia, pull requests merged in 2023-08, with the labels that each got.

#2518 Fix docs build - `sphinx==7.0.1`
  requirements/requirements-docs.txt
Labels: bug :bug:, docs :books:, dependencies

#2527 Fix docs: Unpin sphinx
  .github/workflows/docs.yml
  requirements/requirements-docs.txt
Labels: dependencies

#2529 Fix tutorials links to use the github page
  README.md
  README_zh-CN.md
  docs/source/applications/face_detection.rst
  docs/source/applications/image_matching.rst
  docs/source/applications/image_registration.rst
  docs/source/applications/visual_prompting.rst
  docs/source/color.rst
  docs/source/index.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/patch.py
  kornia/color/gray.py
  kornia/color/hsv.py
  kornia/contrib/connected_components.py
  kornia/enhance/adjust.py
  kornia/filters/blur.py
  kornia/filters/blur_pool.py
  kornia/filters/canny.py
  kornia/filters/gaussian.py
  kornia/filters/laplacian.py
  kornia/filters/median.py
  kornia/filters/sobel.py
  kornia/filters/unsharp.py
  kornia/geometry/transform/affwarp.py
  kornia/geometry/transform/imgwarp.py
  kornia/losses/total_variation.py
  kornia/morphology/morphology.py
Labels: docs :books:

#2523 [feat] Add transplantation augmentation
  docs/generate_examples.py
  docs/source/augmentation.module.rst
  docs/source/references.bib
  kornia/augmentation/_2d/mix/__init__.py
  kornia/augmentation/_2d/mix/transplantation.py
  kornia/augmentation/_3d/__init__.py
  kornia/augmentation/_3d/mix/__init__.py
  kornia/augmentation/_3d/mix/transplantation.py
  kornia/augmentation/__init__.py
  kornia/augmentation/container/ops.py
  test/augmentation/test_augmentation_mix.py
Labels: feature request, module: augmentations
