Repository kornia/kornia, pull requests merged in 2023-04, with the labels that each got.

#2305 Fix current typing errors
  kornia/augmentation/_2d/geometric/base.py
  kornia/feature/disk/structs.py
Labels: bug :bug:

#2306 remove numpy link from image utils
  kornia/utils/image.py
Labels: bug :bug:, module: utils

#2322 Add Guided filter
  docs/generate_example_images.py
  docs/source/filters.rst
  docs/source/references.bib
  kornia/filters/__init__.py
  kornia/filters/guided.py
  test/filters/test_guided.py
Labels: feature request, module: filters, nightly

#2332 Fix missing file keypoints docs
  docs/source/geometry.keypoints.rst
Labels: docs :books:

#2272 Ensure support to torch 2.0
  .github/workflows/pr_test_cpu.yml
  .github/workflows/pr_test_typing.yml
  .github/workflows/scheduled_test_cpu.yml
  .github/workflows/scheduled_test_cpu_half.yml
  .github/workflows/scheduled_test_typing.yml
  conftest.py
  kornia/augmentation/random_generator/base.py
  kornia/x/trainers.py
  test/augmentation/test_augmentation.py
  test/color/test_gray.py
  test/filters/test_canny.py
  test/geometry/transform/test_image_registrator.py
  test/geometry/transform/test_imgwarp.py
  test/losses/test_losses.py
Labels: CI :gear:, nightly

#2315 [feat] add segment anything base
  docs/source/contrib.rst
  docs/source/index.rst
  docs/source/models/segment_anything.rst
  kornia/augmentation/container/augment.py
  kornia/augmentation/container/ops.py
  kornia/contrib/image_prompter.py
  kornia/contrib/models/__init__.py
  kornia/contrib/models/base.py
  kornia/contrib/models/sam/__init__.py
  kornia/contrib/models/sam/architecture/__init__.py
  kornia/contrib/models/sam/architecture/common.py
  kornia/contrib/models/sam/architecture/image_encoder.py
  kornia/contrib/models/sam/architecture/mask_decoder.py
  kornia/contrib/models/sam/architecture/prompt_encoder.py
  kornia/contrib/models/sam/architecture/transformer.py
  kornia/contrib/models/sam/model.py
  kornia/contrib/models/structures.py
  kornia/io/io.py
  test/contrib/__init__.py
  test/contrib/models/__init__.py
  test/contrib/models/test_sam.py
  test/contrib/test_contrib.py
  test/contrib/test_prompter.py
Labels: feature request, module: contrib, nightly

#2334 make api docs more visible
  docs/source/index.rst
Labels: docs :books:

#2340 Fix params name on `ImagePrompter` example
  docs/source/models/segment_anything.rst
Labels: docs :books:
